dtd/ap_doc/application_protocol.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
     $Id: $
-->
<!ENTITY % isodoc SYSTEM "../isodoc.ent">
%isodoc;
<!--                    application protocol                         -->
<!ELEMENT application_protocol (purpose, definition*, arm, mapping_table?, aam, imp_meths, usage_guide?, bibliography?)>
<!ATTLIST application_protocol
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	name NMTOKEN #REQUIRED
	part NMTOKEN #REQUIRED
	wg.number CDATA #REQUIRED
	wg.number.supersedes CDATA #IMPLIED
	wg.number.arm CDATA #REQUIRED
	wg.number.mim CDATA #REQUIRED
	version NMTOKEN #REQUIRED
	status (CD | FDIS | DIS | IS | CD-TS | TS | WD) "CD-TS"
	language (E) "E"
	publication.year CDATA #REQUIRED
	published (y | n) "y"
	checklist.internal_review CDATA #IMPLIED
	checklist.project_leader CDATA #IMPLIED
	checklist.convener CDATA #IMPLIED
	rcs.date CDATA #REQUIRED
	rcs.revision CDATA #REQUIRED
>
<!--			application activity model		-->
<!ELEMENT aam (idef0)>
<!ELEMENT idef0 (imgfile+)>
<!-- implementation methods -->
<!ELEMENT imp_meths (imp_meth+)>
<!ELEMENT imp_meth EMPTY>
<!ATTLIST imp_meth
	part (21 | 22 | 28) #REQUIRED
>
