dtd/ap_doc/application_protocol.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
     $Id: application_protocol.dtd,v 1.12 2003/02/28 13:48:12 rugarcia Exp $
-->
<!ENTITY % isodoc SYSTEM "../isodoc.ent">
%isodoc;
<!--                    application protocol                         -->
<!ELEMENT application_protocol (contacts, purpose, normrefs?, definition*, abbreviations?, mapping_table?, fundamentals, aam, imp_meths, usage_guide?, tech_disc?, bibliography?)>
<!ATTLIST application_protocol
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	name NMTOKEN #REQUIRED
	module_name NMTOKEN #REQUIRED
	title NMTOKEN #REQUIRED
	part NMTOKEN #REQUIRED
	wg.number CDATA #REQUIRED
	wg.number.supersedes CDATA #IMPLIED
	wg.number.arm CDATA #REQUIRED
	wg.number.mim CDATA #REQUIRED
	version NMTOKEN #REQUIRED
	status (CD | FDIS | DIS | IS | CD-TS | TS | WD) "CD-TS"
	language (E) "E"
	publication.year CDATA #REQUIRED
	published (y | n) "n"
	previous.revision.number CDATA #IMPLIED
	previous.revision.year CDATA #IMPLIED
	previous.revision.cancelled (NO | YES) #IMPLIED
	revision.complete (NO | YES) #IMPLIED
	revision.scope CDATA #IMPLIED
	checklist.internal_review CDATA #IMPLIED
	checklist.project_leader CDATA #IMPLIED
	checklist.convener CDATA #IMPLIED
	rcs.date CDATA #REQUIRED
	rcs.revision CDATA #REQUIRED
>
<!ELEMENT fundamentals (%description.content;)*>
<!--			application activity model		-->
<!ELEMENT aam (idef0)>
<!ELEMENT idef0 (imgfile+)>
<!-- implementation methods -->
<!ELEMENT imp_meths (imp_meth+)>
<!ELEMENT imp_meth (description)>
<!ATTLIST imp_meth
	general (y | n) "n"
	part (21 | 22 | 28) #REQUIRED
>
<!ELEMENT tech_disc (%description.content;)*>
