dtd/ap_doc/application_protocol.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- last edited mwd 2002-08-15 -->

<!ENTITY % isodoc SYSTEM "../isodoc.ent">
%isodoc;

<!--                    application protocol                         -->
<!ELEMENT application_protocol (keywords, contacts, purpose, inscope, outscope?, normrefs?, definition*, abbreviations?, arm, mapping_table?, mim, aam, imp_meths, usage_guide?, bibliography?)>

<!ATTLIST application_protocol
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	name NMTOKEN #REQUIRED
	part NMTOKEN #REQUIRED
	version NMTOKEN #REQUIRED
	wg.number CDATA #REQUIRED
	wg.number.supersedes CDATA #IMPLIED
	wg.number.arm CDATA #REQUIRED
	wg.number.mim CDATA #REQUIRED
	checklist.internal_review CDATA #IMPLIED
	checklist.project_leader CDATA #IMPLIED
	checklist.convener CDATA #IMPLIED
	status (CD | FDIS | DIS | IS | CD-TS | TS | WD) "CD-TS"
	publication.year CDATA #REQUIRED
	published (y | n) "y"
	language (E) "E"
	rcs.date CDATA #REQUIRED
	rcs.revision CDATA #REQUIRED
>

<!--			application activity model		-->
<!ELEMENT aam (imgfile+)>

<!-- implementation methods -->
<!ELEMENT imp_meths (imp_meth+)>
<!ELEMENT imp_meth EMPTY>
<!ATTLIST imp_meth
	part (21 | 22 | 28) #REQUIRED
>
