dtd/ap_doc/application_protocol.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- last edited mwd 2002-08-15 -->
<!ENTITY % isodoc SYSTEM "../isodoc.ent">
%isodoc;
<!--                    application protocol                         -->
<!ELEMENT application_protocol (keywords, purpose, definition*, abbreviations?, arm, mapping_table?, mim, aam, imp_meths, usage_guide?, bibliography?)>
<!-- module name="nut_and_bolt" part="299" wg.number="9999" wg.number.supersedes="999" wg.number.arm="9999" wg.number.mim="9999" version="1" status="WD" language="E" publication.year="2002" published="y" checklist.internal_review="9999" checklist.project_leader="9999" checklist.convener="9999" rcs.date="$Date: 2002/08/21 10:37:40 $" rcs.revision="$Revision: 1.1 $" -->
<!ATTLIST application_protocol
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	name NMTOKEN #REQUIRED
	part NMTOKEN #REQUIRED
	wg.number CDATA #REQUIRED
	wg.number.supersedes CDATA #IMPLIED
	wg.number.arm CDATA #REQUIRED
	wg.number.mim CDATA #REQUIRED
	version NMTOKEN #REQUIRED
	status (CD | FDIS | DIS | IS | CD-TS | TS | WD) "CD-TS"
	language (E) "E"
	publication.year CDATA #REQUIRED
	published (y | n) "y"
	checklist.internal_review CDATA #IMPLIED
	checklist.project_leader CDATA #IMPLIED
	checklist.convener CDATA #IMPLIED
	rcs.date CDATA #REQUIRED
	rcs.revision CDATA #REQUIRED
>
<!--			application activity model		-->
<!ELEMENT aam (imgfile+)>
<!-- implementation methods -->
<!ELEMENT imp_meths (imp_meth+)>
<!ELEMENT imp_meth EMPTY>
<!ATTLIST imp_meth
	part (21 | 22 | 28) #REQUIRED
>
