dtd/ap_doc/ccs.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- last edited by mwd 2002-08-15 -->
<!ELEMENT aim_entities EMPTY>
<!ELEMENT arm_entities (cc.ae+)>
<!ELEMENT cc (description, uofs, arm_entities?, aim_entities?)>
<!ATTLIST cc
	identifier CDATA #REQUIRED
	name CDATA #REQUIRED
>
<!ELEMENT conformance_classes (cc+)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT uof EMPTY>
<!ATTLIST uof
	name NMTOKEN #REQUIRED
>
<!ELEMENT uofs (uof+)>
<!ELEMENT cc.ae EMPTY>
<!ATTLIST cc.ae
	entity NMTOKEN #REQUIRED
>