dtd/ap_doc/isodoc.ent

<?xml version="1.0" encoding="UTF-8"?>
<!--
     $Id: application_protocol.dtd,v 1.13 2003/03/06 14:51:45 goset1 Exp $
     Author:  Mike Ward, David Price, Rob Bodington, Nigel Shaw,  Eurostep Limited
     Owner:   Developed by Eurostep and supplied to PDES / NIST under contract.
     Purpose: DTD of general ISO elements for AP document
 -->

<!--	External entity sets	-->
<!ENTITY % HTMLsymbol PUBLIC "-//W3C//ENTITIES Symbols for XHTML//EN" "../xhtml-symbol.ent">
     %HTMLsymbol;
     
<!ENTITY % HTMLspecial PUBLIC "-//W3C//ENTITIES Special for XHTML//EN" "../xhtml-special.ent">
     %HTMLspecial;

<!ENTITY % HTMLlat1 PUBLIC "-//W3C//ENTITIES Latin 1 for XHTML//EN" "../xhtml-lat1.ent">
    %HTMLlat1;

<!ENTITY % desctext    SYSTEM "../text.ent"                             >
%desctext;

<!-- use the %description.content defined in text.ent              -->
<!ELEMENT description (%description.content;)*>

<!--                    normative references, definitions, and terms                                      -->
<!ENTITY % refs-and-defs SYSTEM "../refs-and-defs.ent">
%refs-and-defs;

<!--                    Contacts                           -->
<!ENTITY % contacts SYSTEM "../contacts.ent">
%contacts;

<!--                    purpose of module                          -->
<!ELEMENT purpose (%text-elts; | %block-elts; | %single-block-elts;)*>

<!-- in scope
     If from_module is YES then XSL will copy the in scope statement from the module
-->
<!ELEMENT inscope (li*)>
<!ATTLIST inscope
        from_module (NO | YES) "YES"
>

<!-- out of scope 
     If from_module is YES then XSL will copy the out scope statement from the module
-->
<!ELEMENT outscope (li*)>
<!ATTLIST outscope
        from_module (NO | YES) "YES"
>


<!-- abstract -->
<!ELEMENT abstract (li+)>

<!--                    usage guide                                -->
<!ELEMENT usage_guide (%description.content; | guide_subclause)*>
<!ELEMENT guide_subclause (%description.content; | guide_subclause)*>
<!ATTLIST guide_subclause
	title CDATA #REQUIRED
>

<!--                    bibliography                               -->
<!ELEMENT bibliography (bibitem.inc | bibitem)+>
<!--                    bibiographic item                          -->
<!ELEMENT bibitem (%bib-elts;)*>
<!-- an identifer for the bibliographic item.  It should be unique to the repository -->
<!ATTLIST bibitem
	id ID #IMPLIED
>
<!-- A list of bibitems that can be included in module.xml -->
<!ELEMENT bibitem.list (bibitem+)>
<!--                    included bibilographic item                -->
<!ELEMENT bibitem.inc EMPTY>
<!ATTLIST bibitem.inc
	ref NMTOKEN #REQUIRED
>

