dtd/ap_doc/isodoc.ent

<?xml version="1.0" encoding="UTF-8"?>
<!--
     $Id: isodoc.ent,v 1.9 2010/02/23 14:09:38 radack Exp $
     Author:  Mike Ward, David Price, Rob Bodington, Nigel Shaw,  Eurostep Limited
     Owner:   Developed by Eurostep and supplied to PDES / NIST under contract.
     Purpose: DTD of general ISO elements for AP document
 -->
<!ENTITY % desctext    SYSTEM "../text.ent"                             >
%desctext;

<!ENTITY % isodoc-common SYSTEM "../isodoc-common.ent">
%isodoc-common;

<!-- use the %description.content defined in text.ent              -->
<!ELEMENT description (%description.content;)*>

<!-- Data planning model -->
<!ELEMENT data_plan (imgfile+)>


<!--                    custom part of foreword                          -->
<!ELEMENT foreword (%text-elts; | %block-elts; | %single-block-elts; )*>

<!-- in scope
     If from_module is YES then XSL will copy the in scope statement from the module
-->
<!ELEMENT inscope (li*)>
<!ATTLIST inscope
        from_module (NO | YES) "YES"
        context CDATA #REQUIRED 
>

<!-- out of scope 
     If from_module is YES then XSL will copy the out scope statement from the module
-->
<!ELEMENT outscope (li*)>
<!ATTLIST outscope
        from_module (NO | YES) "YES"
>


<!-- abstract -->
<!ELEMENT abstract (%text-elts; | %block-elts; | %single-block-elts;)*>

