dtd/projmg/projmg.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Rob Bodington (private) -->
<!--DTD generated by XML Spy v4.3 U (http://www.xmlspy.com)-->


<!-- This file was developed by Eurostep and supplied to NIST under contract.
     Authors: Rob Bodington
       
     Provides progress information on a module fo project manageent purposes.
-->

<!--                    descriptive text                           -->
<!ENTITY % desctext SYSTEM "../text.ent">
%desctext;
<!ELEMENT description (%description.content;)*>

<!ELEMENT developer EMPTY>
<!ATTLIST developer
	ref CDATA #REQUIRED
>
<!ELEMENT developers (developer+)>
<!ELEMENT management (developers, module.milestones?, module.checklist?)>
<!ATTLIST management
	module CDATA #REQUIRED
	percentage_complete CDATA #REQUIRED
	issues CDATA #REQUIRED
>
<!ELEMENT milestone (status*)>
<!ATTLIST milestone
	name (M1 | M2 | M3 | M4 | M5 | M6 | M7) #REQUIRED
	description CDATA #REQUIRED
	status (not-achieved | achieved) "not-achieved"
	planned_date CDATA #REQUIRED
	predicted_date CDATA #REQUIRED
	achieved_date CDATA #REQUIRED
>
<!ELEMENT module.checklist (status+)>
<!ELEMENT module.milestones (milestone+)>
<!ELEMENT status (description?)>
<!ATTLIST status
	section (arm.exp | arm.xml | arm_expressg | arm_lf.exp | arm_lf_expressg | mapping | mim.exp | mim.xml | mim_expressg | mim_lf.exp | mim_lf_expressg | module.header | module.intro) #IMPLIED
	by CDATA #REQUIRED
	date CDATA #REQUIRED
	status (not-started | in-work | completed | checked) "not-started"

>
