publication/dtd/p1000_publication_index.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
        $Id: p1000_publication_index.dtd,v 1.1 2009/07/15 16:33:15 robbod Exp $
        Author:  Rob Bodington, Eurostep Limited
        Owner:   Developed by Eurostep http://www.eurostep.com 
        Purpose: DTD for publication indices        
-->

<!--                    descriptive text                           -->
<!ENTITY % desctext    SYSTEM "../../dtd/text.ent">
%desctext;

<!--                    Contacts                           -->
<!ENTITY % contacts    SYSTEM "../../dtd/contacts.ent">
%contacts;


<!ELEMENT description (%description.content;)*>

<!ELEMENT part1000.publication_index (description?, contacts, resource_docs, modules)>
<!ATTLIST part1000.publication_index
	name CDATA #REQUIRED
    wg.number.publication_set CDATA #REQUIRED
    wg.number.publication_set_comments CDATA #IMPLIED
	date.iso_submission CDATA #REQUIRED
	date.iso_publication CDATA #REQUIRED
>
<!ELEMENT resource_docs (resource_doc+)>
<!ELEMENT resource_doc EMPTY>
<!ATTLIST resource_doc
	name CDATA #REQUIRED
>

<!ELEMENT modules (module+)>
<!ELEMENT module EMPTY>
<!ATTLIST module
	name CDATA #REQUIRED
>



