dtd/res_doc/isodoc.ent

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
   $Id:  $  
-->


<!--                    isodoc from parent                    -->
<!ENTITY % resisodoc    SYSTEM "../isodoc.ent"                             >
%resisodoc;



<!--                    introduction to clause                     -->
<!ELEMENT introduction (%text-elts; | %block-elts; | %single-block-elts;)*>

<!--                    fundamental concepts for clause            -->
<!ELEMENT fund_cons (%text-elts; | %block-elts; | %single-block-elts;)*>



<!--			schema clause		-->
<!ELEMENT schema (introduction, fund_cons?,express-g)>
<!ATTLIST schema 
        name NMTOKEN #REQUIRED
>

<!--                    technical discussion annex                     -->
<!ELEMENT tech_discussion (%text-elts; | %block-elts; | %single-block-elts;)*>

<!--                    examples             annex                     -->
<!ELEMENT examples ( %text-elts; | %block-elts; | %single-block-elts;)*>

<!--                    additional scope annex            -->
<!ELEMENT add_scope (%text-elts; | %block-elts; | %single-block-elts;)*>

