dtd/res_doc/isodoc.ent

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
   $Id: isodoc.ent,v 1.16 2014/06/12 18:04:05 mikeward Exp $  
   TT included hack on uof.name to CDATA in this file also.
-->

<!--                    descriptive text                           -->
<!ENTITY % desctext    SYSTEM "text.ent"                             >
%desctext;

<!--                    resource part markup declarations                    -->
<!ENTITY % mapspec SYSTEM "mapping.ent">
%mapspec;

<!--                    normative references, definitions, and terms                                      -->
<!ENTITY % refs-and-defs SYSTEM "refs-and-defs.ent">
%refs-and-defs;

<!--                    Contacts                           -->
<!ENTITY % contacts    SYSTEM "contacts.ent">
%contacts;

<!--                    purpose of module                          -->
<!ELEMENT purpose (%text-elts; | %block-elts; | %single-block-elts;)*>

<!--                    Free text for scope                          -->
<!ELEMENT scope (%text-elts; | %block-elts; | %single-block-elts; )*>

<!--                    Free text for foreword                          -->
<!ELEMENT foreword (%text-elts; | %block-elts; | %single-block-elts; )*>

<!--                    in scope                                   -->
<!-- add ability to use <p>;
     use similar logic as abstract since p42 needs <p> structure before the lists. -->
<!ELEMENT inscope (p*, li+)+>

<!--                    out of scope                               -->
<!ELEMENT outscope (li+)>

<!-- intepreted model -->
<!ELEMENT mim (express-g, shortnames?)>

<!--                    Long form interpreted model                -->
<!ELEMENT mim_lf (express-g)>

<!--                    express-g diagrams                         -->
<!ELEMENT express-g (imgfile+ | img+)>

<!ELEMENT shortnames (shortname+)>

<!ELEMENT shortname EMPTY>

<!ATTLIST shortname
	name NMTOKEN #REQUIRED
	entity NMTOKEN #REQUIRED
>

<!-- abstract -->
<!--  usually  abstract is derived from inscope, but just in case -->
<!-- we wanted to  allow either (li+) --> 
<!-- or ( %text-elts; | %block-elts; | %single-block-elts;)* -->
<!--  but dont know how to constraint in dtd -->
<!-- However forcing only (li+) prevents the user from writing ANY text other than a list  -->
<!-- Therefore, the abstract is temporarily (p*|li*) so that abstracts in any format can be written. -->
<!-- Currently, there are no format restrictions on the format of the abstract by SC4 or ISO -->

<!ELEMENT abstract (p*|li*)>

<!--                    usage guide                                -->
<!ELEMENT usage_guide (%description.content; | guide_subclause)*>
<!ELEMENT guide_subclause (%description.content; | guide_subclause)*>
<!ATTLIST guide_subclause
	title NMTOKEN #REQUIRED
>

<!--                    bibliography                               -->
<!ELEMENT bibliography (bibitem.inc | bibitem)+>

<!--                    bibiographic item                          -->
<!ELEMENT bibitem (%bib-elts;)*>

<!-- an identifer for the bibliographic item.  It should be unique to the repository -->
<!ATTLIST bibitem
	id ID #IMPLIED
>

<!-- A list of bibitems that can be included in module.xml -->
<!ELEMENT bibitem.list (bibitem+)>
<!--                    included bibilographic item                -->

<!ELEMENT bibitem.inc EMPTY>

<!ATTLIST bibitem.inc
	ref NMTOKEN #REQUIRED
>

<!--                    application reference model                -->
<!ELEMENT arm (uof*, uoflink*, express-g)>

<!--                    Long form application reference model      -->
<!ELEMENT arm_lf (express-g)>

<!--                    UoF link                                   -->
<!--                    points to foreign UoF                      -->
<!--                    module is the module in which foreign UoF defined -->
<!--                    uof is the name of  foreign UoF -->
<!ELEMENT uoflink EMPTY>

<!ATTLIST uoflink
	module CDATA #REQUIRED
	uof CDATA #REQUIRED
>

<!--                    application entity link                   -->
<!--                    points to foreign application entity       -->
<!--                   DEPRECATED       -->
<!ELEMENT aelink EMPTY>

<!ATTLIST aelink
	linkend CDATA #REQUIRED
>

<!--                    declared UoF                               -->
<!ELEMENT uof (description, uof.ae*, uof.aelink*)>
<!ATTLIST uof
	name CDATA #REQUIRED
>
<!--	name NMTOKEN #REQUIRED -->

<!--                    Application Objects in UOF                 -->
<!ELEMENT uof.ae EMPTY>
<!ATTLIST uof.ae
	entity NMTOKEN #REQUIRED
>

<!-- Application Objects used in UOF but defined in external modules -->
<!ELEMENT uof.aelink EMPTY>
<!ATTLIST uof.aelink
	entity NMTOKEN #REQUIRED
	module NMTOKEN #REQUIRED
>



<!--                    introduction to clause                     -->
<!ELEMENT introduction (%text-elts; | %block-elts; | %single-block-elts;)*>

<!--                    fundamental concepts for clause            -->
<!ELEMENT fund_cons (%text-elts; | %block-elts; | %single-block-elts;)*>



<!--			schema clause		-->
<!ELEMENT schema (introduction?, fund_cons?,express-g?)>
<!ATTLIST schema 
        name NMTOKEN #REQUIRED
        number NMTOKEN #REQUIRED
        version NMTOKEN #REQUIRED
        number.supersedes CDATA #IMPLIED
>

<!ELEMENT annex_clause (%description.content; | annex_clause | express_ref_inline )*>
<!ATTLIST annex_clause
        title         CDATA       #REQUIRED>
        
<!--                    technical discussion annex                     -->
<!ELEMENT tech_discussion (%text-elts; | %block-elts; | %single-block-elts;| annex_clause)*>

<!--                    examples             annex                     -->
<!ELEMENT examples ( %text-elts; | %block-elts; | %single-block-elts;)*>

<!--                    additional scope annex            -->
<!ELEMENT add_scope (%text-elts; | %block-elts; | %single-block-elts;)*>

