dtd/part28/ex.xsd

<xs:schema targetNamespace="urn:iso10303-28:ex" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:iso10303-28:ex">
	<!--The value for schema location in the following include statement provides the location of the configuration language schema (see Annex C)-->
	<xs:include schemaLocation="configuration.xsd"/>
	<xs:element name="iso_10303_28">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ex:iso_10303_28_header" minOccurs="0"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="ex:schema_population"/>
					<xs:element ref="ex:uos"/>
					<xs:element ref="ex:express"/>
					<xs:element ref="ex:configuration"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="schema_population">
		<xs:complexType>
			<xs:attribute name="governing_schema" type="xs:IDREF" use="required"/>
			<xs:attribute name="governed_sections" type="xs:IDREFS" use="optional"/>
			<xs:attribute name="determination_method" type="xs:normalizedString" default="section_boundary"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="express" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="schemaLocation" type="ex:Seq-anyURI" use="optional"/>
					<xs:attribute name="id" type="xs:ID" use="required"/>
					<xs:attribute name="schema_identifier" type="xs:normalizedString" use="optional"/>
					<xs:attribute name="schema_name" type="xs:normalizedString" use="optional"/>
					<xs:attribute name="schema_version" type="xs:normalizedString" use="optional"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<!-- DOCUMENT HEADER -->
	<xs:complexType name="name_and_address">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="address">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="address_line" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="iso_10303_28_header">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:anyURI"/>
				<xs:element name="time_stamp" type="xs:dateTime"/>
				<xs:element name="author" type="ex:name_and_address"/>
				<xs:element name="organization" type="ex:name_and_address"/>
				<xs:element name="preprocessor_version" type="xs:string"/>
				<xs:element name="originating_system" type="xs:string"/>
				<xs:element name="authorization" type="xs:string"/>
				<xs:element name="documentation" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ROOT ELEMENT  UOS -->
	<xs:complexType name="uos">
		<xs:sequence>
			<xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="express" type="ex:Seq-anyURI" use="optional"/>
		<xs:attribute name="configuration" type="ex:Seq-anyURI" use="optional"/>
		<xs:attribute name="schemaLocation" type="ex:Seq-anyURI" use="optional"/>
		<xs:attribute name="edo" type="xs:anyURI" use="optional"/>
		<xs:attribute name="description" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:element name="uos" type="ex:uos"/>
	<!--  EX ENTITY DEFINTIONS and DECLARATIONS -->
	<xs:complexType name="Entity" abstract="true">
		<xs:annotation>
			<xs:documentation>The Entity type is the supertype for every ex entity. It provides
      the ex id attribute that is the local identifier for each instance as well as the
      other ex descriptive attributes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="href" type="xs:anyURI" use="optional"/>
		<xs:attribute name="ref" type="xs:IDREF" use="optional"/>
		<xs:attribute name="proxy" type="xs:IDREF" use="optional"/>
		<xs:attribute name="edo" type="xs:anyURI" use="optional"/>
		<xs:attributeGroup ref="ex:instanceAttributes"/>
	</xs:complexType>
	<xs:element name="Entity" type="ex:Entity" abstract="true" nillable="true"/>
	
	<xs:complexType name="nonEntity" abstract="true">
		<xs:annotation>
			<xs:documentation>The nonEntity type is the supertype for every ex nonEntity.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="href" type="xs:anyURI" use="optional"/>
		<xs:attribute name="ref" type="xs:IDREF" use="optional"/>
		<xs:attribute name="proxy" type="xs:IDREF" use="optional"/>
		<xs:attribute name="edo" type="xs:anyURI" use="optional"/>
		<xs:attributeGroup ref="ex:instanceAttributes"/>
	</xs:complexType>

	<xs:element name="nonEntity" type="ex:nonEntity" abstract="true" nillable="true"/>
	
	<xs:complexType name="edokey" abstract="true">
		<xs:annotation>
			<xs:documentation>The edokey type is the supertype for every ex edokey.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="href" type="xs:anyURI" use="optional"/>
		<xs:attribute name="ref" type="xs:IDREF" use="optional"/>
		<xs:attribute name="proxy" type="xs:IDREF" use="optional"/>
		<xs:attribute name="edo" type="xs:anyURI" use="optional"/>
		<xs:attributeGroup ref="ex:instanceAttributes"/>
	</xs:complexType>
	
	<xs:element name="edokey" type="ex:edokey" abstract="true" nillable="true"/>
	<!--  EX ARRAY -->
	<xs:attribute name="arraySize">
		<xs:simpleType>
			<xs:restriction>
				<xs:simpleType>
					<xs:list itemType="xs:integer"/>
				</xs:simpleType>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="itemType" type="xs:QName"/>
	<xs:attributeGroup name="instanceAttributes">
		<xs:attribute name="id" type="xs:ID" use="optional"/>
		<xs:attribute name="path" type="xs:NMTOKENS" use="optional"/>
		<xs:attribute name="pos" use="optional">
			<xs:simpleType>
				<xs:restriction>
					<xs:simpleType>
						<xs:list itemType="xs:integer"/>
					</xs:simpleType>
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<!-- GLOBAL ATTRIBUTE DECLARATIONS  -->
	<xs:attribute name="cType">
		<xs:simpleType>
			<xs:list itemType="ex:aggregateType"/>
		</xs:simpleType>
	</xs:attribute>
	<xs:simpleType name="aggregateType">
		<xs:restriction base="xs:normalizedString">
			<xs:enumeration value="array"/>
			<xs:enumeration value="list"/>
			<xs:enumeration value="set"/>
			<xs:enumeration value="bag"/>
			<xs:enumeration value="array-unique"/>
			<xs:enumeration value="array-optional"/>
			<xs:enumeration value="array-optional-unique"/>
			<xs:enumeration value="list-unique"/>
		</xs:restriction>
	</xs:simpleType>
	<!--  SIMPLE TYPE DEFINITIONS -->
	<xs:complexType name="base64Binary">
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary">
				<xs:attribute name="extraBits" type="xs:integer" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="logical">
		<xs:restriction base="xs:string">
			<xs:enumeration value="false"/>
			<xs:enumeration value="true"/>
			<xs:enumeration value="unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="base64Binary-wrapper" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ex:base64Binary">
					<xs:attributeGroup ref="ex:instanceAttributes"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="hexBinary-wrapper" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ex:hexBinary">
					<xs:attributeGroup ref="ex:instanceAttributes"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="integer-wrapper" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:integer">
					<xs:attributeGroup ref="ex:instanceAttributes"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="logical-wrapper" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ex:logical">
					<xs:attributeGroup ref="ex:instanceAttributes"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="hexBinary">
		<xs:simpleContent>
			<xs:extension base="xs:hexBinary">
				<xs:attribute name="extraBits" type="xs:integer" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!-- WRAPPER FOR ATOMIC SIMPLE TYPES  -->
	<xs:simpleType name="posType">
		<xs:list itemType="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:element name="boolean-wrapper" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:boolean">
					<xs:attributeGroup ref="ex:instanceAttributes"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="double-wrapper" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:double">
					<xs:attributeGroup ref="ex:instanceAttributes"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="decimal-wrapper" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:decimal">
					<xs:attributeGroup ref="ex:instanceAttributes"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="long-wrapper" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:long">
					<xs:attributeGroup ref="ex:instanceAttributes"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="string-wrapper" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:normalizedString">
					<xs:attributeGroup ref="ex:instanceAttributes"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="generalString-wrapper" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attributeGroup ref="ex:instanceAttributes"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="language-wrapper" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:language">
					<xs:attributeGroup ref="ex:instanceAttributes"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name-wrapper" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:Name">
					<xs:attributeGroup ref="ex:instanceAttributes"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="QName-wrapper" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:QName">
					<xs:attributeGroup ref="ex:instanceAttributes"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NMTOKEN-wrapper" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:NMTOKEN">
					<xs:attributeGroup ref="ex:instanceAttributes"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="anyURI-wrapper" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:anyURI">
					<xs:attributeGroup ref="ex:instanceAttributes"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NOTATION-wrapper" nillable="true">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:NOTATION">
					<xs:attributeGroup ref="ex:instanceAttributes"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
