ballots/dtd/ballot_index.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
        $Id: stylesheet_application.dtd,v 1.1 2002/06/20 12:49:07 robbod Exp $
        Author:  Rob Bodingon, Eurostep Limited
        Owner:   Developed by Eurostep http://www.eurostep.com
        Purpose: DTD for ballot indices        
-->


<!ELEMENT ballot_index (ballot_package+)>
<!ATTLIST ballot_index
	name CDATA #REQUIRED
	wg.number.ballot_package CDATA #REQUIRED
	wg.number.ballot_comment CDATA #REQUIRED
	description CDATA #REQUIRED
>

<!ELEMENT ballot_package (module+)>
<!ATTLIST ballot_package
	name CDATA #REQUIRED
	id CDATA #IMPLIED
>

<!ELEMENT module EMPTY>
<!ATTLIST module
	name CDATA #REQUIRED
>
