data/library/dtd/express_index.dtd

<!-- $Id: express_index.dtd,v 1.3 2013/05/08 17:11:42 thomasrthurman Exp $ -->
<!ELEMENT schema (#PCDATA)>
<!ATTLIST schema name CDATA #IMPLIED>
<!ATTLIST schema directory CDATA #IMPLIED>
<!ATTLIST schema type CDATA #IMPLIED>
<!ELEMENT constant (#PCDATA)>
<!ATTLIST constant name CDATA #IMPLIED>
<!ATTLIST constant directory CDATA #IMPLIED>
<!ATTLIST constant type CDATA #IMPLIED>
<!ELEMENT rule (#PCDATA)>
<!ATTLIST rule name CDATA #IMPLIED>
<!ATTLIST rule directory CDATA #IMPLIED>
<!ATTLIST rule type CDATA #IMPLIED>
<!ELEMENT entity (#PCDATA)>
<!ATTLIST entity name CDATA #IMPLIED>
<!ATTLIST entity directory CDATA #IMPLIED>
<!ATTLIST entity type CDATA #IMPLIED>
<!ELEMENT subtype_constraint (#PCDATA)>
<!ATTLIST subtype_constraint name CDATA #IMPLIED>
<!ATTLIST subtype_constraint directory CDATA #IMPLIED>
<!ATTLIST subtype_constraint type CDATA #IMPLIED>
<!ELEMENT express_index (#PCDATA | schema | type | entity | algorithm | rule | subtype_constraint | constant)*>

<!ATTLIST express_index
 part.version.number CDATA #REQUIRED>

<!ELEMENT type (#PCDATA)>
<!ATTLIST type name CDATA #IMPLIED>
<!ATTLIST type directory CDATA #IMPLIED>
<!ATTLIST type type CDATA #IMPLIED>
<!ELEMENT algorithm (#PCDATA)>
<!ATTLIST algorithm name CDATA #IMPLIED>
<!ATTLIST algorithm directory CDATA #IMPLIED>
<!ATTLIST algorithm type CDATA #IMPLIED>
