dtd/bom_doc/isodoc.ent

<?xml version="1.0" encoding="UTF-8"?>
<!--
     $Id: isodoc.ent,v 1.11 2011/12/09 15:12:16 mikeward Exp $
     Author:  Mike Ward,  Eurostep Limited
     Owner:   Developed by Euroste.
     Purpose: DTD for general BOM ISO elements 
 -->
 
 <!-- BOM -->
  
<!ENTITY % desctext SYSTEM "text.ent">                            
%desctext;

<!ENTITY % isodoc-common SYSTEM "../isodoc-common.ent">
%isodoc-common;

<!-- use the %description.content defined in text.ent              -->
<!ELEMENT description (%description.content;)*>

<!-- Data planning model -->
<!ELEMENT data_plan (imgfile+)>


<!--                    custom part of foreword                          -->
<!ELEMENT foreword (%text-elts; | %block-elts; | %single-block-elts; )*>

<!-- in scope
     If from_module is YES then XSL will copy the in scope statement from the module
-->
<!ELEMENT inscope (li*)>
<!ATTLIST inscope
        from_module (NO | YES) "YES"
        context CDATA #REQUIRED 
>

<!-- out of scope 
     If from_module is YES then XSL will copy the out scope statement from the module
-->
<!ELEMENT outscope (li*)>
<!ATTLIST outscope
        from_module (NO | YES) "YES"
>


<!-- abstract -->
<!ELEMENT abstract (%text-elts; | %block-elts; | %single-block-elts;)*>

<!--  business object model  -->
<!ELEMENT bom (express-g)>

<!--                    express-g diagrams                         -->
<!ELEMENT express-g (imgfile+ | img+)>