etc/rnc/menubar.rnc

# edited with XML Spy v4.3 U (http://www.xmlspy.com) by Rob Bodington (private)

# DTD generated by XML Spy v4.3 U (http://www.xmlspy.com)

# $Id: menubar.rnc,v 1.1 2003/12/19 02:13:59 thendrix Exp $

# This file was developed by Eurostep 
# Authors:
#    Rob Bodington

menubar =
  element menubar {
    attlist.menubar, (menuitem | menubreak | menuspace)+
  }
attlist.menubar &= empty
menuitem = element menuitem { attlist.menuitem, empty }
attlist.menuitem &=
  attribute item { text },
  attribute absolute.url { text }?,
  attribute relative.url { text }?,
  attribute module.url { text }?,
  attribute img { text }?
menubreak = element menubreak { attlist.menubreak, empty }
attlist.menubreak &= empty
menuspace = element menuspace { attlist.menuspace, text }
attlist.menuspace &= empty
start = menubar
