dtd/part1000/docs.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<!ELEMENT docs ((doc+))>
<!ELEMENT doc (tc*)>
<!ATTLIST doc
	name CDATA #REQUIRED
	part CDATA #REQUIRED
	pub_type (TS | IS) #REQUIRED
	series (IGR | IAR | AIC | AM | AP | ATS | PLIB | IM) #REQUIRED
	pub_year_mo CDATA #REQUIRED
	format (html-stepmod | html-general | pdf) #REQUIRED
	filename CDATA #IMPLIED
	edition CDATA #REQUIRED
>
<!ELEMENT tc EMPTY>
<!ATTLIST tc
	cor CDATA #REQUIRED
	pub_year_mo CDATA #REQUIRED
	format (html-stepmod | html-general | pdf) #REQUIRED
	filename CDATA #IMPLIED
>