dtd/arm.ent

<!--
     $Id: arm.ent,v 1.1 2001/06/28 22:00:04 lubell Exp $
                                                                   -->

<!--                    ARM and mapping specification markup
                        declarations                               -->

<!--                    Requires Part 28-inspired language.ent
                        markup declarations for representing
                        'schema' and text.ent markup
                        declarations for representing 'description'-->

<!--                    attributes elements linking to ARM objects -->
<!ENTITY % armatts      "
             xlink:type (simple)                     #FIXED 'simple'
             xlink:href CDATA                              #REQUIRED
             xlink:show (replace)                   #FIXED 'replace'
             xlink:actuate
                        (onRequest)               #FIXED 'onRequest'
                        "                                            >
<!--                    application reference model                -->
<!ELEMENT  arm          (object_id, uof+, uoflink?, schema, express-g)
                                                                     >

<!--                    UoF link                                   -->
<!--                    points to foreign UoF                      -->
<!ELEMENT  uoflink      (#PCDATA)                                    >
<!ATTLIST  uoflink      %armatts;                                    >

 <!--                    application entity link                    -->
<!--                    points to foreign application entity       -->
<!ELEMENT  aelink       EMPTY                                        >
<!ATTLIST  aelink       %armatts;                                    >


<!--                    declared UoF                               -->
<!ELEMENT  uof          (name, description, ae+)                     >
<!ATTLIST  uof
             id         ID                              #IMPLIED     >

<!--                    application entity                         -->
<!ELEMENT  ae           (entity_ref, mapping, aa*)                   >

<!--                    application attribute                      -->
<!ELEMENT  aa           (attribute_ref, mapping)                     >

<!--                    attribute link                             -->
<!--                    points to ARM attribute                    -->
<!ELEMENT  alink        EMPTY                                        >
<!ATTLIST  alink        %armatts;                                    >

<!--                    mapping specification row                  -->
<!ELEMENT  mapping      (alt*, aimelt, source, rule_ref*, refpath?)  >

<!--                    alternative                                -->
<!--                    contains explanatory text describing the
                        alternative                                -->
<!ELEMENT  alt          (#PCDATA)                                    >

<!--                    AIM element                                -->
<!ELEMENT  aimelt       (#PCDATA | entity_ref | attribute_ref)*      >
<!ATTLIST  aimelt
             xml:space  (preserve)                 #FIXED "preserve" >

<!--                    ISO part number                            -->
<!ELEMENT  source       (#PCDATA)                                    >
<!ATTLIST  source
             xml:space  (preserve)                 #FIXED "preserve" >

<!--                    reference path                             -->
<!ELEMENT  refpath      (#PCDATA | entity_ref | attribute_ref)*      >
<!ATTLIST  refpath
             xml:space  (preserve)                 #FIXED "preserve" >
