dtd/common.ent

<?xml version="1.0" encoding="UTF-8"?>
<!--
     $Id: common.ent,v 1.1 2001/06/28 22:00:04 lubell Exp $
-->

<!--                    name                                       -->
<!ELEMENT  name         (#PCDATA)                                    >

<!--                    object identifier                          -->
<!ELEMENT  object_id    (#PCDATA)                                    >

<!--                    express-g diagrams                         -->
<!ELEMENT  express-g    (img+)                                       >
