dtd/contacts.ent

<?xml version="1.0" encoding="UTF-8"?>
<!--
     $Id: contacts.ent,v 1.1 2002/08/16 14:23:10 robbod Exp $
                                                                   -->
<!--                    contact information                        -->
<!ENTITY % contact.info "firstname, lastname, affiliation?, pobox?, street?, city, state?, postcode, country, phone, fax?, email">


<!--                    first name                                 -->
<!ELEMENT firstname (#PCDATA)>

<!--                    last name                                  -->
<!ELEMENT lastname (#PCDATA)>

<!--                    employer name                              -->
<!ELEMENT affiliation (#PCDATA)>

<!--                    Post Office Box                            -->
<!ELEMENT pobox (#PCDATA)>

<!--                    street address                             -->
<!ELEMENT street (#PCDATA)>

<!--                    city                                       -->
<!ELEMENT city (#PCDATA)>

<!--                    state or province                          -->
<!ELEMENT state (#PCDATA)>

<!--                    zip or postal code                         -->
<!ELEMENT postcode (#PCDATA)>

<!--                    country                                    -->
<!ELEMENT country (#PCDATA)>

<!--                    phone number                               -->
<!ELEMENT phone (#PCDATA)>

<!--                    fax number                                 -->
<!ELEMENT fax (#PCDATA)>

<!--                    email address                              -->
<!ELEMENT email (#PCDATA)>

<!--                    keywords (separated by commas)             -->
<!ELEMENT keywords (#PCDATA)>

<!--                    contacts                                   -->
<!ELEMENT contacts (projlead, editor+)>

<!--                    project leader                             -->
<!ELEMENT projlead EMPTY>

<!ATTLIST projlead
	ref NMTOKEN #REQUIRED
>

<!--                    project editor                             -->
<!ELEMENT editor EMPTY>

<!ATTLIST editor
	ref NMTOKEN #REQUIRED
>

<!-- A list of contacts that can be reference in module.xml as editor or projlead -->
<!ELEMENT contact.list (contact+)>

<!--                    a contact                                  -->
<!ELEMENT contact (%contact.info;)>
<!ATTLIST contact
	id NMTOKEN #REQUIRED
>
