dtd/isodoc-common.ent

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
     $Id: isodoc-common.ent,v 1.4 2010/02/24 18:18:25 radack Exp $
-->
<!-- See Bug 3426. -->

<!--	External entity sets	-->
<!ENTITY % HTMLsymbol PUBLIC "-//W3C//ENTITIES Symbols for XHTML//EN" "xhtml-symbol.ent">
     %HTMLsymbol;
     
<!ENTITY % HTMLspecial PUBLIC "-//W3C//ENTITIES Special for XHTML//EN" "xhtml-special.ent">
     %HTMLspecial;

<!ENTITY % HTMLlat1 PUBLIC "-//W3C//ENTITIES Latin 1 for XHTML//EN" "xhtml-lat1.ent">
    %HTMLlat1;

<!--                    normative references, definitions, and terms                                      -->
<!ENTITY % refs-and-defs SYSTEM "refs-and-defs.ent">
%refs-and-defs;
<!--                    Contacts                           -->
<!ENTITY % contacts SYSTEM "contacts.ent">
%contacts;
<!--                    purpose of module                          -->
<!ELEMENT purpose (%text-elts; | %block-elts; | %single-block-elts;)*>

<!--                    bibliography                               -->
<!ELEMENT bibliography (bibitem.inc | bibitem | bibitem.resource | bibitem.module | bibitem.ap)+>
<!ATTLIST bibliography output_default (no | yes) "yes">

<!--                    bibiographic item                          -->
<!ELEMENT bibitem (%bib-elts;)*>
<!-- an identifer for the bibliographic item.  It should be unique to the repository -->
<!-- If n then the bibliographic item has not been published                     -->
<!ATTLIST bibitem
	id ID #IMPLIED
        published (y | n) "y" >

<!-- A list of bibitems that can be included in module.xml -->
<!ELEMENT bibitem.list ((bibitem | bibitem.techreport | bibitem.book)+)>
<!--                    included bibilographic item                -->
<!ELEMENT bibitem.inc EMPTY>
<!ATTLIST bibitem.inc
	ref NMTOKEN #REQUIRED
>

<!ELEMENT bibitem.module  EMPTY>
<!ATTLIST bibitem.module name NMTOKEN #REQUIRED>

<!ELEMENT bibitem.ap EMPTY>
<!ATTLIST bibitem.ap name NMTOKEN #REQUIRED>

<!ELEMENT bibitem.resource EMPTY>
<!ATTLIST bibitem.resource name NMTOKEN #REQUIRED>

<!ELEMENT bibitem.techreport (primary-responsibility?, stdtitle, institution?, report-type?, number?, pubdate?, ulink?)>
<!ATTLIST bibitem.techreport
	id ID #IMPLIED
        published (y | n) "y"
>

<!ELEMENT bibitem.book (primary-responsibility, stdtitle, place?, publisher?, pubdate?, ulink?)>
<!ATTLIST bibitem.book
	id ID #IMPLIED
        published (y | n) "y"
>

<!ELEMENT patent.inc EMPTY>
<!ATTLIST patent.inc ref NMTOKEN #REQUIRED>

