dtd/isodoc.ent

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
     $Id: contacts.ent,v 1.1 2002/08/16 14:23:10 robbod Exp $
-->
<!--                    ARM markup declarations                    -->
<!ENTITY % mapspec SYSTEM "mapping.ent">
%mapspec;
<!--                    normative references, definitions, and terms                                      -->
<!ENTITY % refs-and-defs SYSTEM "refs-and-defs.ent">
%refs-and-defs;
<!--                    Contacts                           -->
<!ENTITY % contacts SYSTEM "contacts.ent">
%contacts;
<!--                    purpose of module                          -->
<!ELEMENT purpose (%text-elts; | %block-elts; | %single-block-elts;)*>
<!--                    in scope                                   -->
<!ELEMENT inscope (li+)>
<!--                    out of scope                               -->
<!ELEMENT outscope (li+)>
<!-- intepreted model -->
<!ELEMENT mim (express-g, shortnames?)>
<!--                    Long form interpreted model                -->
<!ELEMENT mim_lf (express-g)>
<!--                    express-g diagrams                         -->
<!ELEMENT express-g (imgfile+ | img+)>
<!ELEMENT shortnames (shortname+)>
<!ELEMENT shortname EMPTY>
<!ATTLIST shortname
	name NMTOKEN #REQUIRED
	entity NMTOKEN #REQUIRED
>
<!-- abstract -->
<!ELEMENT abstract (li+)>
<!--                    usage guide                                -->
<!ELEMENT usage_guide (%description.content; | guide_subclause)*>
<!ELEMENT guide_subclause (%description.content; | guide_subclause)*>
<!ATTLIST guide_subclause
	title CDATA #REQUIRED
>
<!--                    bibliography                               -->
<!ELEMENT bibliography (bibitem.inc | bibitem)+>
<!--                    bibiographic item                          -->
<!ELEMENT bibitem (%bib-elts;)*>
<!-- an identifer for the bibliographic item.  It should be unique to the repository -->
<!ATTLIST bibitem
	id ID #IMPLIED
>
<!-- A list of bibitems that can be included in module.xml -->
<!ELEMENT bibitem.list (bibitem+)>
<!--                    included bibilographic item                -->
<!ELEMENT bibitem.inc EMPTY>
<!ATTLIST bibitem.inc
	ref NMTOKEN #REQUIRED
>
<!--                    application reference model                -->
<!ELEMENT arm (uof*, uoflink*, express-g)>
<!--                    Long form application reference model      -->
<!ELEMENT arm_lf (express-g)>
<!--                    UoF link                                   -->
<!--                    points to foreign UoF                      -->
<!--                    module is the module in which foreign UoF defined -->
<!--                    uof is the name of  foreign UoF -->
<!ELEMENT uoflink EMPTY>
<!ATTLIST uoflink
	module CDATA #REQUIRED
	uof CDATA #REQUIRED
>
<!--                    application entity link                   -->
<!--                    points to foreign application entity       -->
<!--                   DEPRECATED       -->
<!ELEMENT aelink EMPTY>
<!ATTLIST aelink
	linkend CDATA #REQUIRED
>
<!--                    declared UoF                               -->
<!ELEMENT uof (description, uof.ae*, uof.aelink*)>
<!ATTLIST uof
	name NMTOKEN #REQUIRED
>
<!--                    Application Objects in UOF                 -->
<!ELEMENT uof.ae EMPTY>
<!ATTLIST uof.ae
	entity NMTOKEN #REQUIRED
>
<!-- Application Objects used in UOF but defined in external modules -->
<!ELEMENT uof.aelink EMPTY>
<!ATTLIST uof.aelink
	entity NMTOKEN #REQUIRED
	module NMTOKEN #REQUIRED
>
