dtd/isodoc.ent

<?xml version="1.0" encoding="UTF-8"?>
<!-- created mwd 2002-08-15 -->


<!--                    ARM markup declarations                    -->
<!ENTITY % mapspec SYSTEM "mapping.ent">
%mapspec;

<!--                    normative references, definitions, and terms                                      -->
<!ENTITY % refs-and-defs SYSTEM "refs-and-defs.ent">
%refs-and-defs;

<!--                    contact information                        -->
<!ENTITY % contact.info "firstname, lastname, affiliation?, pobox?, street?, city, state?, postcode, country, phone, fax, email">


<!--                    first name                                 -->
<!ELEMENT firstname (#PCDATA)>

<!--                    last name                                  -->
<!ELEMENT lastname (#PCDATA)>

<!--                    employer name                              -->
<!ELEMENT affiliation (#PCDATA)>

<!--                    Post Office Box                            -->
<!ELEMENT pobox (#PCDATA)>

<!--                    street address                             -->
<!ELEMENT street (#PCDATA)>

<!--                    city                                       -->
<!ELEMENT city (#PCDATA)>

<!--                    state or province                          -->
<!ELEMENT state (#PCDATA)>

<!--                    zip or postal code                         -->
<!ELEMENT postcode (#PCDATA)>

<!--                    country                                    -->
<!ELEMENT country (#PCDATA)>

<!--                    phone number                               -->
<!ELEMENT phone (#PCDATA)>

<!--                    fax number                                 -->
<!ELEMENT fax (#PCDATA)>

<!--                    email address                              -->
<!ELEMENT email (#PCDATA)>

<!--                    keywords (separated by commas)             -->
<!ELEMENT keywords (#PCDATA)>

<!--                    contacts                                   -->
<!ELEMENT contacts (projlead, editor+)>

<!--                    project leader                             -->
<!ELEMENT projlead EMPTY>

<!ATTLIST projlead
	ref NMTOKEN #REQUIRED
>

<!--                    project editor                             -->
<!ELEMENT editor EMPTY>

<!ATTLIST editor
	ref NMTOKEN #REQUIRED
>

<!-- A list of contacts that can be reference in module.xml as editor or projlead -->
<!ELEMENT contact.list (contact+)>

<!--                    a contact                                  -->
<!ELEMENT contact (%contact.info;)>
<!ATTLIST contact
	id NMTOKEN #REQUIRED
>

<!--                    purpose of module                          -->
<!ELEMENT purpose (%text-elts; | %block-elts; | %single-block-elts;)*>

<!--                    in scope                                   -->
<!ELEMENT inscope (li+)>

<!--                    out of scope                               -->
<!ELEMENT outscope (li+)>

<!-- intepreted model -->
<!ELEMENT mim (express-g, shortnames?)>

<!--                    Long form interpreted model                -->
<!ELEMENT mim_lf (express-g)>

<!--                    express-g diagrams                         -->
<!ELEMENT express-g (imgfile+ | img+)>

<!ELEMENT shortnames (shortname+)>

<!ELEMENT shortname EMPTY>

<!ATTLIST shortname
	name NMTOKEN #REQUIRED
	entity NMTOKEN #REQUIRED
>

<!--                    usage guide                                -->
<!ELEMENT usage_guide (%description.content;)*>

<!--                    bibliography                               -->
<!ELEMENT bibliography (bibitem.inc | bibitem)+>

<!--                    bibiographic item                          -->
<!ELEMENT bibitem (%bib-elts;)*>

<!-- an identifer for the bibliographic item.  It should be unique to the repository -->
<!ATTLIST bibitem
	id ID #IMPLIED
>

<!-- A list of bibitems that can be included in module.xml -->
<!ELEMENT bibitem.list (bibitem+)>
<!--                    included bibilographic item                -->

<!ELEMENT bibitem.inc EMPTY>

<!ATTLIST bibitem.inc
	ref NMTOKEN #REQUIRED
>

<!--                    application reference model                -->
<!ELEMENT arm (uof+, uoflink*, express-g)>

<!--                    Long form application reference model      -->
<!ELEMENT arm_lf (express-g)>

<!--                    UoF link                                   -->
<!--                    points to foreign UoF                      -->
<!--                    module is the module in which foreign UoF defined -->
<!--                    uof is the name of  foreign UoF -->
<!ELEMENT uoflink EMPTY>

<!ATTLIST uoflink
	module CDATA #REQUIRED
	uof CDATA #REQUIRED
>

<!--                    application entity link                   -->
<!--                    points to foreign application entity       -->
<!--                   DEPRECATED       -->
<!ELEMENT aelink EMPTY>

<!ATTLIST aelink
	linkend CDATA #REQUIRED
>

<!--                    declared UoF                               -->
<!ELEMENT uof (description, uof.ae*)>
<!ATTLIST uof
	name NMTOKEN #REQUIRED
>

<!--                    Application Objects in UOF                 -->
<!ELEMENT uof.ae EMPTY>
<!ATTLIST uof.ae
	entity NMTOKEN #REQUIRED
>


