dtd/language.ent

<!--
     $Id: language.ent,v 1.1 2001/06/28 22:00:04 lubell Exp $
                                                                   -->
<!ENTITY % base_type "(array_type | bag_type | list_type | set_type | binary | boolean | integer | logical | number | real | string | entity_ref | type_ref)">

<!ELEMENT abstract_supertype 
 (
  description?, 
  (entity_ref | supertype_one_of | supertype_and_or | supertype_and)?)>
<!ATTLIST abstract_supertype 
      express-production CDATA #FIXED "abstract_supertype_declaration">

<!ELEMENT algorithm_head 
 (
  description?, (entity | function | type)*, constant*, local_variable*)>
<!ATTLIST algorithm_head 
      express-production CDATA #FIXED "algorithm_head">

<!ELEMENT array_type 
 (
  description?, index_spec, %base_type;, optional?, unique?)>
<!ATTLIST array_type 
      express-production CDATA #FIXED "array_type">

<!ELEMENT attribute_id 
 (#PCDATA)>
<!ATTLIST attribute_id 
      express-production CDATA #FIXED "attribute_id"
      id ID #IMPLIED >

<!ELEMENT attribute_ref 
 (#PCDATA)>
<!ATTLIST attribute_ref 
      express-production CDATA #FIXED "attribute_ref"
      refid IDREF #IMPLIED 
      reftype CDATA "refid (attribute_id)">

<!ELEMENT bag_type 
 (
  description?, bound_spec?, %base_type;)>
<!ATTLIST bag_type 
      express-production CDATA #FIXED "bag_type">

<!ELEMENT based_on (type_ref)>
<!ATTLIST based_on express-production CDATA #FIXED "BASED_ON">

<!ELEMENT binary 
 (
  description?, width_spec?)>
<!ATTLIST binary 
      express-production CDATA #FIXED "binary_type">

<!ELEMENT boolean EMPTY>
<!ATTLIST boolean 
      express-production CDATA #FIXED "boolean_type">

<!ELEMENT bound_spec 
 (
  description?, lower_bound, upper_bound)>
<!ATTLIST bound_spec 
      express-production CDATA #FIXED "bound_spec">

<!ELEMENT constant 
 (description?, constant_id, %base_type;, expression)>
<!ATTLIST constant 
      express-production CDATA #FIXED "constant_body">

<!ELEMENT constant_id 
 (#PCDATA)>
<!ATTLIST constant_id 
      express-production CDATA #FIXED "constant_id"
      id ID #IMPLIED >

<!ELEMENT constant_import 
 (
  description?, constant_id, constant_ref)>
<!ATTLIST constant_import 
      express-production CDATA #FIXED "resource_or_rename">

<!ELEMENT constant_ref 
 (#PCDATA)>
<!ATTLIST constant_ref 
      express-production CDATA #FIXED "constant_ref"
      refid IDREF #IMPLIED 
      reftype CDATA "refid (constant_id)">

<!ELEMENT derived_attr 
 (description?, (attribute_id | qualified_attribute), %base_type;, expression)>
<!ATTLIST derived_attr 
      express-production CDATA #FIXED "derived_attr">

<!ELEMENT domain_rule (description?, label?, expression)>
<!ATTLIST domain_rule 
      express-production CDATA #FIXED "domain_rule">

<!ELEMENT entity 
 (
  description?, entity_id, 
  (abstract_supertype | supertype_of)?, subtype_of?, explicit_attr*, derived_attr*, inverse_attr*, unique_rule*, domain_rule*)>
<!ATTLIST entity 
             id         ID                                 #IMPLIED
      express-production CDATA #FIXED "entity_decl">

<!ELEMENT entity_id 
 (#PCDATA)>
<!ATTLIST entity_id 
      express-production CDATA #FIXED "entity_id"                    >

<!ELEMENT entity_import 
 (
  description?, entity_id, entity_ref)>
<!ATTLIST entity_import 
             id         ID                                 #IMPLIED
      express-production CDATA #FIXED "resource_or_rename">

<!ELEMENT entity_ref 
 (#PCDATA)>
<!ATTLIST entity_ref 
      express-production CDATA #FIXED "entity_ref"
      refid IDREF #IMPLIED 
             xlink:href CDATA                              #IMPLIED
      reftype CDATA "refid (entity_id)">

<!ELEMENT enumeration 
 (
  description?, extensible?, based_on?, enumeration_id*)>
<!ATTLIST enumeration 
      express-production CDATA #FIXED "enumeration_type">

<!ELEMENT enumeration_id 
 (#PCDATA)>
<!ATTLIST enumeration_id 
      express-production CDATA #FIXED "enumeration_id"
      id ID #IMPLIED >

<!ELEMENT explicit_attr 
 (
  description?, 
  (attribute_id | qualified_attribute), optional?, %base_type;)>
<!ATTLIST explicit_attr 
      express-production CDATA #FIXED "explicit_attr">

<!ELEMENT extensible EMPTY>
<!ATTLIST extensible express-production CDATA #FIXED "EXTENSIBLE">

<!ELEMENT fixed EMPTY>
<!ATTLIST fixed 
      express-production CDATA #FIXED "FIXED">

<!ELEMENT formal_parameter 
 (
  description?, parameter_id, 
  (general_array_type | general_bag_type | general_list_type | general_set_type | generic_type | entity_ref | type_ref | binary | boolean | integer | logical | number | real | string))>
<!ATTLIST formal_parameter 
      express-production CDATA #FIXED "formal_parameter">

<!ELEMENT format EMPTY>
<!ATTLIST format 
      express-production CDATA #FIXED "FORMAT">

<!ELEMENT function 
 (
  description?, function_id, formal_parameter*, function_return_type, algorithm_head?, statement_block)>
<!ATTLIST function 
             id         ID                                 #IMPLIED
      express-production CDATA #FIXED "function_decl">

<!ELEMENT function_id 
 (#PCDATA)>
<!ATTLIST function_id 
      express-production CDATA #FIXED "function_id"                  >

<!ELEMENT function_import 
 (
  description?, function_id, function_ref)>
<!ATTLIST function_import 
             id         ID                                 #IMPLIED
      express-production CDATA #FIXED "resource_or_rename">

<!ELEMENT function_ref 
 (#PCDATA)>
<!ATTLIST function_ref 
      express-production CDATA #FIXED "function_ref"
             xlink:href CDATA                              #IMPLIED
      refid IDREF #IMPLIED 
      reftype CDATA "refid (function_id)">

<!ELEMENT function_return_type 
 (general_array_type | general_bag_type | general_list_type | general_set_type | generic_type | entity_ref | type_ref | binary | boolean | integer | logical | number | real | string)>
<!ATTLIST function_return_type 
      express-production CDATA #FIXED "parameter_type">

<!ELEMENT general_array_type 
 (
  description?, 
  (general_array_type | general_bag_type | general_list_type | general_set_type | generic_type | entity_ref | type_ref | binary | boolean | integer | logical | number | real | string), bound_spec?, optional?, unique?)>
<!ATTLIST general_array_type 
      express-production CDATA #FIXED "general_array_type">

<!ELEMENT general_bag_type 
 (
  description?, 
  (general_array_type | general_bag_type | general_list_type | general_set_type | generic_type | entity_ref | type_ref | binary | boolean | integer | logical | number | real | string), bound_spec?)>
<!ATTLIST general_bag_type 
      express-production CDATA #FIXED "general_bag_type">

<!ELEMENT general_list_type 
 (
  description?, 
  (general_array_type | general_bag_type | general_list_type | general_set_type | generic_type | entity_ref | type_ref | binary | boolean | integer | logical | number | real | string), bound_spec?, unique?)>
<!ATTLIST general_list_type 
      express-production CDATA #FIXED "general_list_type">

<!ELEMENT general_set_type 
 (
  description?, 
  (general_array_type | general_bag_type | general_list_type | general_set_type | generic_type | entity_ref | type_ref | binary | boolean | integer | logical | number | real | string), bound_spec?)>
<!ATTLIST general_set_type 
      express-production CDATA #FIXED "general_set_type">

<!ELEMENT generic_type 
 (
  description?, 
  (type_label_id | type_label_ref)?)>
<!ATTLIST generic_type 
      express-production CDATA #FIXED "generic_type">

<!ELEMENT high_index 
 (
  description?, 
  expression)>
<!ATTLIST high_index 
      express-production CDATA #FIXED "index_2">

<!ELEMENT import_all EMPTY>
<!ATTLIST import_all 
      express-production CDATA #FIXED "#NONE">

<!ELEMENT index_qualifier 
 (
  description?, low_index, high_index?)>
<!ATTLIST index_qualifier 
      express-production CDATA #FIXED "index_qualifier">

<!ELEMENT index_spec 
 (
  description?, low_index, high_index?)>
<!ATTLIST index_spec 
      express-production CDATA #FIXED "bound_spec">

<!ELEMENT integer EMPTY>
<!ATTLIST integer 
      express-production CDATA #FIXED "integer_type">

<!ELEMENT interface_specification_block 
 (
  description?, 
  (reference_from | use_from)+)>
<!ATTLIST interface_specification_block 
      express-production CDATA #FIXED "interface_specification">

<!ELEMENT inverse_attr 
 (
  description?, 
  (attribute_id | qualified_attribute), entity_ref, attribute_ref, 
  (inverse_set | inverse_bag)?)>
<!ATTLIST inverse_attr 
      express-production CDATA #FIXED "inverse_attr">

<!ELEMENT inverse_bag 
 (
  description?, bound_spec?)>
<!ATTLIST inverse_bag 
      express-production CDATA #FIXED "BAG">

<!ELEMENT inverse_set 
 (
  description?, bound_spec?)>
<!ATTLIST inverse_set 
      express-production CDATA #FIXED "SET">

<!ELEMENT label 
 (#PCDATA)>
<!ATTLIST label 
      express-production CDATA #FIXED "label">

<!ELEMENT list_type 
 (
  description?, bound_spec?, %base_type;, unique?)>
<!ATTLIST list_type 
      express-production CDATA #FIXED "list_type">

<!ELEMENT local_variable (description?, variable_id, %base_type;)>
<!ATTLIST local_variable express-production CDATA #FIXED "local_variable">

<!ELEMENT logical EMPTY>
<!ATTLIST logical 
      express-production CDATA #FIXED "logical_type">

<!ELEMENT lower_bound (description?, expression)>
<!ATTLIST lower_bound 
      express-production CDATA #FIXED "bound_1">

<!ELEMENT low_index 
 (
  description?, 
  expression)>
<!ATTLIST low_index 
      express-production CDATA #FIXED "index_1">

<!ELEMENT number EMPTY>
<!ATTLIST number 
      express-production CDATA #FIXED "number_type">

<!ELEMENT optional EMPTY>
<!ATTLIST optional 
      express-production CDATA #FIXED "OPTIONAL">

<!ELEMENT parameter_id 
 (#PCDATA)>
<!ATTLIST parameter_id 
      express-production CDATA #FIXED "parameter_id"
      id ID #IMPLIED >

<!ELEMENT parameter_ref 
 (#PCDATA)>
<!ATTLIST parameter_ref 
      express-production CDATA #FIXED "parameter_ref"
      refid IDREF #IMPLIED 
      reftype CDATA "refid (parameter_id)">

<!ELEMENT precision_spec 
 (
  description?, 
  expression)>
<!ATTLIST precision_spec 
      express-production CDATA #FIXED "precision_spec">

<!ELEMENT qualified_attribute 
 (
  description?, entity_ref, attribute_ref)>
<!ATTLIST qualified_attribute 
      express-production CDATA #FIXED "qualified_attribute">

<!ELEMENT real 
 (
  description?, precision_spec?)>
<!ATTLIST real 
      express-production CDATA #FIXED "real_type">

<!ELEMENT reference_from 
 (
  description?, schema_ref, 
  (import_all | 
   (constant_import | entity_import | function_import | type_import)+))>
<!ATTLIST reference_from 
      express-production CDATA #FIXED "reference_clause">

<!ELEMENT rule 
 (
  description?, rule_id, entity_ref+, algorithm_head?, statement_block?, domain_rule+)>
<!ATTLIST rule 
             id         ID                                 #IMPLIED
      express-production CDATA #FIXED "rule_decl">

<!ELEMENT rule_id 
 (#PCDATA)>
<!ATTLIST rule_id 
      express-production CDATA #FIXED "rule_id">

<!ELEMENT rule_ref 
 (#PCDATA)>
<!ATTLIST rule_ref 
             xlink:href CDATA                              #IMPLIED
      refid IDREF #IMPLIED>

<!ELEMENT schema 
 (
  description?, schema_id, interface_specification_block?, constant*, 
  (entity | function | type | rule)*)>
<!ATTLIST schema
             id         ID                              #IMPLIED
      express-production CDATA #FIXED "schema_decl">

<!ELEMENT schema_id 
 (#PCDATA)>
<!ATTLIST schema_id 
      express-production CDATA #FIXED "schema_id"
      express_schema_description CDATA #IMPLIED 
      express_schema_identifier CDATA #IMPLIED 
      express_schema_version CDATA #IMPLIED                          >

<!ELEMENT schema_ref 
 (#PCDATA)>
<!ATTLIST schema_ref 
      express-production CDATA #FIXED "schema_ref"
             xlink:href CDATA                              #IMPLIED
      reftype CDATA "refid (schema_id | external_refid)">

<!ELEMENT select 
 (
  description?, extensible?, based_on?,
  (entity_ref | type_ref)*)>
<!ATTLIST select 
      express-production CDATA #FIXED "select_type">

<!ELEMENT set_type 
 (
  description?, bound_spec?, %base_type;)>
<!ATTLIST set_type 
      express-production CDATA #FIXED "set_type">

<!ELEMENT statement_block (description?, expression)>
<!ATTLIST statement_block 
      express-production CDATA #FIXED "stmt">

<!ELEMENT string 
 (
  description?, width_spec?)>
<!ATTLIST string 
      express-production CDATA #FIXED "string_type">

<!ELEMENT subtype_of 
 (
  description?, entity_ref+)>
<!ATTLIST subtype_of 
      express-production CDATA #FIXED "subtype_declaration">

<!ELEMENT supertype_and 
 (
  description?, 
  (entity_ref | supertype_one_of | supertype_and_or | supertype_and)+)>
<!ATTLIST supertype_and 
      express-production CDATA #FIXED "supertype_rule">

<!ELEMENT supertype_and_or 
 (
  description?, 
  (entity_ref | supertype_one_of | supertype_and_or | supertype_and)+)>
<!ATTLIST supertype_and_or 
      express-production CDATA #FIXED "supertype_rule">

<!ELEMENT supertype_of 
 (
  description?, 
  (entity_ref | supertype_one_of | supertype_and_or | supertype_and))>
<!ATTLIST supertype_of 
      express-production CDATA #FIXED "supertype_rule">

<!ELEMENT supertype_one_of 
 (
  description?, 
  (entity_ref | supertype_one_of | supertype_and_or | supertype_and)+)>
<!ATTLIST supertype_one_of 
      express-production CDATA #FIXED "one_of">

<!ELEMENT type 
 (
  description?, type_id, underlying_type, domain_rule*)>
<!ATTLIST type 
             id         ID                                 #IMPLIED
      express-production CDATA #FIXED "type_decl">

<!ELEMENT type_id 
 (#PCDATA)>
<!ATTLIST type_id 
      express-production CDATA #FIXED "type_id"                      >

<!ELEMENT type_import 
 (
  description?, type_id, type_ref)>
<!ATTLIST type_import 
             id         ID                                 #IMPLIED
      express-production CDATA #FIXED "resource_or_rename">

<!ELEMENT type_label_id 
 (#PCDATA)>
<!ATTLIST type_label_id 
      express-production CDATA #FIXED "type_label_id"
      id ID #IMPLIED >

<!ELEMENT type_label_ref 
 (#PCDATA)>
<!ATTLIST type_label_ref 
      express-production CDATA #FIXED "type_label_ref"
      refid IDREF #IMPLIED 
      reftype CDATA "refid (type_label_id)">

<!ELEMENT type_ref 
 (#PCDATA)>
<!ATTLIST type_ref 
      express-production CDATA #FIXED "type_ref"
      refid IDREF #IMPLIED 
             xlink:href CDATA                              #IMPLIED
      reftype CDATA "refid (type_id)">

<!ELEMENT underlying_type 
 (
  description?, 
  (enumeration | select | array_type | bag_type | list_type | set_type | binary | boolean | integer | logical | number | real | string | type_ref))>
<!ATTLIST underlying_type 
      express-production CDATA #FIXED "underlying_type">

<!ELEMENT unique EMPTY>
<!ATTLIST unique 
      express-production CDATA #FIXED "UNIQUE">

<!ELEMENT unique_rule 
 (
  description?, label?, 
  (attribute_ref | qualified_attribute)+)>
<!ATTLIST unique_rule 
      express-production CDATA #FIXED "unique_rule">

<!ELEMENT upper_bound (description?, expression)>
<!ATTLIST upper_bound 
      express-production CDATA #FIXED "bound_2">

<!ELEMENT use_from 
 (
  description?, schema_ref, 
  (import_all | 
   (entity_import | type_import)+))>
<!ATTLIST use_from 
      express-production CDATA #FIXED "use_clause">

<!ELEMENT variable_id 
 (#PCDATA)>
<!ATTLIST variable_id 
      express-production CDATA #FIXED "variable_id"
      id ID #IMPLIED >

<!ELEMENT variable_ref 
 (#PCDATA)>
<!ATTLIST variable_ref 
      express-production CDATA #FIXED "variable_ref"
      refid IDREF #IMPLIED 
      reftype CDATA #FIXED "refid (variable_id)">

<!ELEMENT width_spec 
 (
  description?, 
  expression, fixed?)>
<!ATTLIST width_spec 
      express-production CDATA #FIXED "width_spec">

<!ELEMENT expression (#PCDATA)>