dtd/mapping.ent

<!--
     $Id: arm.ent,v 1.1.1.1 2001/06/29 19:12:27 joshualubell Exp $
                                                                   -->

<!--                    UoF and mapping specification markup
                        declarations                               -->

<!--                    Requires text.ent markup
                        declarations for representing 'description'-->

<!--                    attributes elements linking to ARM objects -->
<!ENTITY % armatts      "
             xlink:type (simple)                     #FIXED 'simple'
             xlink:href CDATA                              #REQUIRED
             xlink:show (replace)                   #FIXED 'replace'
             xlink:actuate
                        (onRequest)               #FIXED 'onRequest'
                        "                                            >

<!--                    mapping specification row                  -->
<!ENTITY % mapping     "alt*, aimelt, source, rule_ref*, refpath?"   >

<!--                    application reference model                -->
<!ELEMENT  arm          (object_id, uof+, uoflink?, express-g)       >
<!ATTLIST  arm
             xlink:href CDATA                              #REQUIRED >

<!--                    UoF link                                   -->
<!--                    points to foreign UoF                      -->
<!ELEMENT  uoflink      (#PCDATA)                                    >
<!ATTLIST  uoflink      %armatts;                                    >

 <!--                    application entity link                    -->
<!--                    points to foreign application entity       -->
<!ELEMENT  aelink       EMPTY                                        >
<!ATTLIST  aelink       %armatts;                                    >


<!--                    declared UoF                               -->
<!ELEMENT  uof          (description, ae+)                           >
<!ATTLIST  uof
             name       NMTOKEN                            #REQUIRED >

<!--                    application entity                         -->
<!ELEMENT  ae           (%mapping;, aa*)                             >
<!ATTLIST  ae
             entity     NMTOKEN                            #REQUIRED >

<!--                    application attribute                      -->
<!ELEMENT  aa           (%mapping;)                                  >
<!ATTLIST  aa
             attribute  NMTOKEN                            #REQUIRED >

<!--                    attribute link                             -->
<!--                    points to ARM attribute                    -->
<!ELEMENT  alink        EMPTY                                        >
<!ATTLIST  alink        %armatts;                                    >

<!--                    alternative                                -->
<!--                    contains explanatory text describing the
                        alternative                                -->
<!ELEMENT  alt          (#PCDATA)                                    >

<!--                    AIM element                                -->
<!ELEMENT  aimelt       (#PCDATA | entity_ref | attribute_ref)*      >
<!ATTLIST  aimelt
             xml:space  (preserve)                 #FIXED "preserve" >

<!--                    ISO part number                            -->
<!ELEMENT  source       (#PCDATA)                                    >
<!ATTLIST  source
             xml:space  (preserve)                 #FIXED "preserve" >

<!--                    reference path                             -->
<!ELEMENT  refpath      (#PCDATA | entity_ref | attribute_ref)*      >
<!ATTLIST  refpath
             xml:space  (preserve)                 #FIXED "preserve" >
