dtd/mapping.ent

<!--
     $Id: mapping.ent,v 1.6 2002/01/30 15:35:14 robbod Exp $
                                                                   -->

<!--                    UoF and mapping specification markup
                        declarations                               -->

<!--                    Requires text.ent markup
                        declarations for representing 'description'-->


<!--                    mapping specification row                  -->
<!--                    express_ref must contain a rule name       -->
<!ENTITY % mapping     "alt?, aimelt, source, express_ref*, refpath?" >

<!--                    application reference model                -->
<!ELEMENT  arm          (uof+, uoflink*, express-g)       >


<!--                    UoF link                                   -->
<!--                    points to foreign UoF                      -->
<!--                    module is the module in which foreign UoF defined -->
<!--                    uof is the name of  foreign UoF -->
<!ELEMENT  uoflink      EMPTY                                        >
<!ATTLIST  uoflink      module CDATA                       #REQUIRED >
<!ATTLIST  uoflink      uof CDATA                          #REQUIRED >


 <!--                    application entity link                   -->
<!--                    points to foreign application entity       -->
<!ELEMENT  aelink       EMPTY                                        >
<!ATTLIST  aelink       linkend CDATA                      #REQUIRED >


<!--                    declared UoF                               -->
<!ELEMENT  uof          (description, uof.ae+)                       >
<!ATTLIST  uof
             name       NMTOKEN                            #REQUIRED >

<!--                    Application Objects in UOF                 -->
<!ELEMENT  uof.ae       EMPTY                                      >
<!ATTLIST  uof.ae       
             entity       NMTOKEN                            #REQUIRED >

<!--                    A mapping table                            -->
<!ELEMENT  mapping_table (ae+)                                       >

<!--                    application entity                         -->
<!ELEMENT  ae           (%mapping;, aa*)                             >
<!ATTLIST  ae
             entity     NMTOKEN                            #REQUIRED >

<!--                    application attribute                      -->
<!ELEMENT  aa           (%mapping;)                                  >
<!ATTLIST  aa
             attribute  NMTOKEN                            #REQUIRED 
             assertion_to NMTOKEN                          #IMPLIED  >

<!--                    attribute link                             -->
<!--                    points to ARM attribute                    -->
<!ELEMENT  alink        EMPTY                                        >
<!ATTLIST  alink        linkend CDATA                      #REQUIRED >

<!--                    alternative                                -->
<!--                    contains explanatory text describing the
                        alternative                                -->
<!ELEMENT  alt          (#PCDATA)                                    >

<!--                    AIM element                                -->
<!--                    express_ref must be an entity name or
                        attribute name                             -->
<!ELEMENT  aimelt       (#PCDATA)*                     >
<!ATTLIST  aimelt
             xml:space  (preserve)                 #FIXED "preserve" >

<!--                    ISO part number                            -->
<!ELEMENT  source       (#PCDATA)                                    >
<!ATTLIST  source
             xml:space  (preserve)                 #FIXED "preserve" >

<!--                    reference path                             -->
<!--                    express_ref must be an entity name or
                        attribute name                             -->
<!ELEMENT  refpath      (#PCDATA)*                     >
<!ATTLIST  refpath
             xml:space  (preserve)                 #FIXED "preserve" >












