dtd/mapping.ent

<!--
     $Id: mapping.ent,v 1.11 2002/06/25 11:02:58 robbod Exp $
                                                                   -->

<!--                    Mapping specification markup
                        declarations                               -->

<!--                    Requires text.ent markup
                        declarations for representing 'description'-->

<!--                    descriptive text                           -->
<!ENTITY % desctext    SYSTEM "text.ent"                             >
%desctext;

<!-- use the %description.content defined in text.ent              -->
<!ELEMENT description (%description.content;)*>



<!--                    mapping specification row                  -->
<!--                    express_ref must contain a rule name       -->
<!ENTITY % mapping     "alt?, description?, aimelt?, source?, express_ref*, refpath?" >


<!--                    A mapping table                            -->
<!ELEMENT  mapping_table (ae+)                                       >

<!--                    application entity                         -->
<!ELEMENT  ae           (%mapping;, alt_map*, aa*)                             >
<!ATTLIST  ae
             entity     NMTOKEN                            #REQUIRED 
    	     extensible (YES | NO) "NO"
             original_module  NMTOKEN                            #IMPLIED >

<!--                    application attribute                      -->
<!--description?, alt*, ) -->
<!ELEMENT  aa           (%mapping;, alt_map*)              >
<!ATTLIST  aa
             attribute  NMTOKEN                            #REQUIRED 
             assertion_to NMTOKEN                          #IMPLIED  >

<!--                    contains explanatory text describing the
                        alternative                                
                        THIS IS DEPRECATED - USE alt_map           -->
<!ELEMENT  alt          (#PCDATA)                                    >


<!--                    alternative mapping              -->
<!ELEMENT  alt_map          (%mapping;)                    >
<!ATTLIST  alt_map
             id            CDATA                         #IMPLIED  
             alt_map.inc   CDATA                         #IMPLIED  >
  
<!--                    AIM element                                -->
<!ELEMENT  aimelt       (#PCDATA)*                     >
<!ATTLIST  aimelt
             xml:space  (preserve)                 #FIXED "preserve" >

<!--                    ISO part number                            -->
<!ELEMENT  source       (#PCDATA)                                    >
<!ATTLIST  source
             xml:space  (preserve)                 #FIXED "preserve" >

<!--                    reference path                             -->
<!ELEMENT  refpath      (#PCDATA)*                     >
<!ATTLIST  refpath
             xml:space  (preserve)                 #FIXED "preserve" >












