dtd/menubar.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Rob Bodington (private) -->
<!--DTD generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<!--
     $Id: menubar.dtd,v 1.3 2002/06/23 07:59:55 robbod Exp $
                                                                   -->
<!-- This file was developed by Eurostep 
     Authors:
	Rob Bodington
-->
<!ELEMENT menubar (menuitem | menubreak | menuspace)+>
<!ELEMENT menuitem EMPTY>
<!ATTLIST menuitem
	item CDATA #REQUIRED
	absolute.url CDATA #IMPLIED
	relative.url CDATA #IMPLIED
	module.url CDATA #IMPLIED
	img CDATA #IMPLIED
>
<!ELEMENT menubreak EMPTY>

<!ELEMENT menuspace (#PCDATA) >
