dtd/module.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
     $Id: module.dtd,v 1.2 2001/09/17 14:09:58 joshualubell Exp $
                                                                   -->

<!--                    ARM markup declarations                    -->
<!ENTITY % mapspec     SYSTEM "mapping.ent"                          >
%mapspec;

<!--                    descriptive text                           -->
<!ENTITY % desctext    SYSTEM "text.ent"                             >
%desctext;

<!--                    normative references, definitions, and
                        terms                                      -->
<!ENTITY % refs-and-defs    SYSTEM "refs-and-defs.ent"
                                                                     >
%refs-and-defs;

<!--                    contact information                        -->
<!ENTITY % contact.info
                       "firstname, lastname, affiliation?, street,
                        city, state?, postcode, country, phone, fax,
                        email"                                       >

<!--                    application module                         -->
<!ELEMENT  module       (keywords, contacts, object_id, purpose,
                         inscope, outscope?, normref+, definition*, 
                         abbreviation*, arm, mim, usage_guide?, 
                         bibliography?)                              >

<!--         part       ISO 10303 part number                      -->
<!--         version    SC4 N-number                               -->
<!ATTLIST  module
             xmlns:xlink CDATA  #FIXED "http://www.w3.org/1999/xlink"
             name       NMTOKEN                            #REQUIRED
             part       NMTOKEN                            #REQUIRED
             version    NMTOKEN                            #REQUIRED
             status     (CD TS | TS)                       "CD TS"
             iim        (business | product | properties |
                        representation | presentation | assignments |
                        fundamentals | industry)           #REQUIRED >

<!--                    first name                                 -->
<!ELEMENT  firstname    (#PCDATA)                                    >

<!--                    last name                                  -->
<!ELEMENT  lastname     (#PCDATA)                                    >

<!--                    employer name                              -->
<!ELEMENT  affiliation  (#PCDATA)                                    >

<!--                    street address                             -->
<!ELEMENT  street       (#PCDATA)                                    >

<!--                    city                                       -->
<!ELEMENT  city         (#PCDATA)                                    >

<!--                    state or province                          -->
<!ELEMENT  state        (#PCDATA)                                    >

<!--                    zip or postal code                         -->
<!ELEMENT  postcode     (#PCDATA)                                    >

<!--                    country                                    -->
<!ELEMENT  country      (#PCDATA)                                    >

<!--                    phone number                               -->
<!ELEMENT  phone        (#PCDATA)                                    >

<!--                    fax number                                 -->
<!ELEMENT  fax          (#PCDATA)                                    >

<!--                    email address                              -->
<!ELEMENT  email        (#PCDATA)                                    >

<!--                    keywords (separated by commas)             -->
<!ELEMENT  keywords     (#PCDATA)                                    >

<!--                    contacts                                   -->
<!ELEMENT  contacts     (projlead, editor)                           >

<!--                    project leader                             -->
<!ELEMENT  projlead     ( %contact.info; )                           >

<!--                    project editor                             -->
<!ELEMENT  editor       ( %contact.info; )                           >

<!--                    object identifier                          -->
<!ELEMENT  object_id    (#PCDATA)                                    >

<!--                    purpose of module                          -->
<!ELEMENT  purpose      (%text-elts;)*                               >

<!--                    in scope                                   -->
<!ELEMENT  inscope      (li+)                                        >

<!--                    out of scope                               -->
<!ELEMENT  outscope     (li+)                                        >

<!--                    module interpreted model                   -->
<!ELEMENT  mim          (object_id, express-g)                       >
<!ATTLIST  mim
             xlink:href CDATA                              #REQUIRED >

<!--                    express-g diagrams                         -->
<!ELEMENT  express-g    (img+)                                       >

<!--                    usage guide                                -->
<!ELEMENT  usage_guide  (description)                                >

<!--                    bibliography                               -->
<!ELEMENT  bibliography (bibitem)+                                   >

<!--                    bibiographic item                          -->
<!ELEMENT  bibitem      (%bib-elts;)*                                >
