dtd/module.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
     $Id: module.dtd,v 1.1 2001/06/28 22:00:05 lubell Exp $
                                                                   -->

<!--                    ARM markup declarations                    -->
<!ENTITY % arm         SYSTEM "arm.ent"                              >
%arm;

<!--                    EXPRESS language markup declarations       -->
<!ENTITY % language    SYSTEM "language.ent"                         >
%language;

<!--                    descriptive text                           -->
<!ENTITY % desctext    SYSTEM "text.ent"                             >
%desctext;

<!--                    common declarations                        -->
<!ENTITY % common      SYSTEM "common.ent"                           >
%common;

<!--                    normative references, definitions, and
                        terms                                      -->
<!ENTITY % refs-and-defs    SYSTEM "refs-and-defs.ent"
                                                                     >
%refs-and-defs;

<!--                    application module                         -->
<!ELEMENT  module       (object_id, name, purpose, inscope, 
                         outscope?, normref+, definition*, 
                         abbreviation*, arm, mim, usage_guide?, 
                         bibliography?)                              >
<!ATTLIST  module
             xmlns:xlink CDATA  #FIXED "http://www.w3.org/1999/xlink">

<!--                    purpose of module                          -->
<!ELEMENT  purpose      (%text-elts;)*                               >

<!--                    in scope                                   -->
<!ELEMENT  inscope      (li+)                                        >

<!--                    out of scope                               -->
<!ELEMENT  outscope     (li+)                                        >

<!--                    module interpreted model                   -->
<!ELEMENT  mim          (object_id, schema, express-g)               >

<!--                    usage guide                                -->
<!ELEMENT  usage_guide  (description)                                >

<!--                    bibliography                               -->
<!ELEMENT  bibliography (bibitem)+                                   >

<!--                    bibiographic item                          -->
<!ELEMENT  bibitem      (%bib-elts;)*                                >
