dtd/module.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
     $Id: module.dtd,v 1.21 2002/06/25 11:02:58 robbod Exp $
                                                                   -->

<!--                    ARM markup declarations                    -->
<!ENTITY % mapspec     SYSTEM "mapping.ent"                          >
%mapspec;


<!--                    normative references, definitions, and
                        terms                                      -->
<!ENTITY % refs-and-defs    SYSTEM "refs-and-defs.ent"               >
%refs-and-defs;

<!--                    contact information                        -->
<!ENTITY % contact.info
                       "firstname, lastname, affiliation?, pobox?, street?,
                        city, state?, postcode, country, phone, fax,
                        email"                                       >

<!--                    application module                         -->
<!ELEMENT  module       (keywords, contacts, purpose,
                         inscope, outscope?, normrefs?, definition*, 
                         abbreviations?, arm, arm_lf?, mapping_table?, 
                         mim, mim_lf?, usage_guide?, bibliography?)   >

<!--         name         module directory name                    -->
<!--         part         ISO 10303 part number                    -->
<!--         wg.number    SC4 N-number                             -->
<!--         wg.number.supersedes   superseded SC4 N-number        -->
<!-- Attributes for source control software like RCS or CVS        -->
<!--         rcs.date      $Date: 2002/06/25 11:02:58 $                                -->
<!--         rcs.revision  $Revision: 1.21 $                            -->
<!ATTLIST  module
             xmlns:xlink CDATA  #FIXED "http://www.w3.org/1999/xlink"
             name       NMTOKEN                            #REQUIRED
             part       NMTOKEN                            #REQUIRED
             version    NMTOKEN                            #REQUIRED
             wg.number  CDATA                              #REQUIRED
             wg.number.supersedes  CDATA                   #IMPLIED
             wg.number.arm CDATA                           #REQUIRED
             wg.number.mim CDATA                           #REQUIRED
             wg.number.ballot_package CDATA                #IMPLIED
             wg.number.ballot_comment CDATA                #IMPLIED
             checklist.internal_review CDATA               #IMPLIED
             checklist.project_leader CDATA                #IMPLIED
             checklist.convener CDATA                      #IMPLIED
             status  (CD | FDIS | DIS | IS | CD-TS | TS | WD) "CD-TS"
             publication.year CDATA                        #REQUIRED
             published (y | n)                             "y"
             language (E)                                  "E"
	     rcs.date CDATA 				   #REQUIRED 
	     rcs.revision CDATA 		           #REQUIRED
>

<!--                    first name                                 -->
<!ELEMENT  firstname    (#PCDATA)                                    >

<!--                    last name                                  -->
<!ELEMENT  lastname     (#PCDATA)                                    >

<!--                    employer name                              -->
<!ELEMENT  affiliation  (#PCDATA)                                    >

<!--                    street address                             -->
<!ELEMENT  street       (#PCDATA)                                    >

<!--                    Post Office Box                            -->
<!ELEMENT  pobox         (#PCDATA)                                    >

<!--                    city                                       -->
<!ELEMENT  city         (#PCDATA)                                    >

<!--                    state or province                          -->
<!ELEMENT  state        (#PCDATA)                                    >

<!--                    zip or postal code                         -->
<!ELEMENT  postcode     (#PCDATA)                                    >

<!--                    country                                    -->
<!ELEMENT  country      (#PCDATA)                                    >

<!--                    phone number                               -->
<!ELEMENT  phone        (#PCDATA)                                    >

<!--                    fax number                                 -->
<!ELEMENT  fax          (#PCDATA)                                    >

<!--                    email address                              -->
<!ELEMENT  email        (#PCDATA)                                    >

<!--                    keywords (separated by commas)             -->
<!ELEMENT  keywords     (#PCDATA)                                    >

<!--                    contacts                                   -->
<!ELEMENT  contacts     (projlead, editor+)                           >

<!--                    project leader                             -->
<!ELEMENT  projlead     EMPTY                                        >
<!ATTLIST  projlead     ref NMTOKEN #REQUIRED                          >

<!--                    project editor                             -->
<!ELEMENT  editor       EMPTY                                        >
<!ATTLIST  editor       ref NMTOKEN #REQUIRED                          >

<!--                    a contact                                  -->
<!ELEMENT  contact       ( %contact.info; )                          >
<!ATTLIST  contact id NMTOKEN #REQUIRED>

<!-- 
        A list of contacts that can be reference in module.xml as editor
        or projlead
-->
<!ELEMENT  contact.list (contact+)                          >


<!--                    purpose of module                          -->
<!ELEMENT  purpose      (%text-elts; | %block-elts; | %single-block-elts;)*>

<!--                    in scope                                   -->
<!ELEMENT  inscope      (li+)                                        >

<!--                    out of scope                               -->
<!ELEMENT  outscope     (li+)                                        >

<!--                    module interpreted model                   -->
<!ELEMENT  mim          (express-g, shortnames?)                     >

<!--                    Long form interpreted model                -->
<!ELEMENT  mim_lf      (express-g)       >


<!--                    express-g diagrams                         -->
<!ELEMENT  express-g    (imgfile+ | img+)                            >

<!ELEMENT  shortnames   (shortname+)                                >
<!ELEMENT  shortname    EMPTY                                        >
<!ATTLIST  shortname    name NMTOKEN #REQUIRED
                        entity NMTOKEN #REQUIRED                     >

<!--                    usage guide                                -->
<!ELEMENT  usage_guide  (%description.content;)*                      >

<!--                    bibliography                               -->
<!ELEMENT  bibliography (bibitem.inc | bibitem )+                    >

<!--                    bibiographic item                          -->
<!ELEMENT  bibitem      (%bib-elts;)*                                >
<!-- an identifer for the bibliographic item. 
     It should be unique to the module repository
-->
<!ATTLIST bibitem id ID #IMPLIED                                     >


<!-- A list of bibitems that can be included in module.xml -->
<!ELEMENT bibitem.list (bibitem+) >

<!--                    included bibilographic item                -->
<!ELEMENT  bibitem.inc EMPTY>
<!ATTLIST  bibitem.inc ref NMTOKEN #REQUIRED>

<!--                    application reference model                -->
<!ELEMENT  arm          (uof+, uoflink*, express-g)       >

<!--                    Long form application reference model      -->
<!ELEMENT  arm_lf          (express-g)       >


<!--                    UoF link                                   -->
<!--                    points to foreign UoF                      -->
<!--                    module is the module in which foreign UoF defined -->
<!--                    uof is the name of  foreign UoF -->
<!ELEMENT  uoflink      EMPTY                                        >
<!ATTLIST  uoflink      module CDATA                       #REQUIRED >
<!ATTLIST  uoflink      uof CDATA                          #REQUIRED >


 <!--                    application entity link                   -->
<!--                    points to foreign application entity       -->
<!--                   DEPRECATED       -->
<!ELEMENT  aelink       EMPTY                                        >
<!ATTLIST  aelink       linkend CDATA                      #REQUIRED >


<!--                    declared UoF                               -->
<!ELEMENT  uof          (description, uof.ae*)                       >
<!ATTLIST  uof
             name       NMTOKEN                            #REQUIRED >

<!--                    Application Objects in UOF                 -->
<!ELEMENT  uof.ae       EMPTY                                      >
<!ATTLIST  uof.ae       
             entity       NMTOKEN                            #REQUIRED >

