dtd/refs-and-defs.ent

<?xml version="1.0" encoding="UTF-8"?>
<!--
     $Id: refs-and-defs.ent,v 1.1 2001/06/28 22:00:05 lubell Exp $
                                                                   -->

<!--                    bibliographic elements                     -->
<!ENTITY % bib-elts    "
  #PCDATA
  | orgname
  | pubdate
  | stdnumber
  | subtitle
  | stdtitle
  | ulink
"                                                                    >

<!--                    normative reference                        -->
<!ELEMENT  normref      (stdref, term*)                              >
<!ATTLIST  normref
             url        CDATA                              #IMPLIED
             id         ID                                 #IMPLIED
             docbook-atts
                        CDATA                  #FIXED "url #DEFAULT"
             docbook    NMTOKEN                 #FIXED "bibliomixed" >

<!--                    standard reference                         -->
<!ELEMENT  stdref       (%bib-elts;)*                                >

<!--                    organization name                          -->
<!ELEMENT  orgname      (#PCDATA)                                    >
<!ATTLIST  orgname
             docbook    NMTOKEN                     #FIXED "orgname" >

<!--                    publication date                           -->
<!ELEMENT  pubdate      (#PCDATA)                                    >
<!ATTLIST  pubdate
             docbook    NMTOKEN                     #FIXED "pubdate" >

<!--                    release information                        -->
<!ELEMENT  stdnumber  (#PCDATA)                                      >
<!ATTLIST  stdnumber
             docbook    NMTOKEN                 #FIXED "stdnumber"   >

<!--                    subtitle                                   -->
<!ELEMENT  subtitle     (#PCDATA)                                    >
<!ATTLIST  subtitle
             docbook    NMTOKEN                    #FIXED "subtitle" >

<!--                    title of standard                          -->
<!ELEMENT  stdtitle     (#PCDATA)                                    >
<!ATTLIST  stdtitle
             docbook    NMTOKEN                       #FIXED "title" >

<!--                    link to URL                                -->
<!ELEMENT  ulink        (#PCDATA)                                    >
<!ATTLIST  ulink
             docbook    NMTOKEN                       #FIXED "ulink"
             url        CDATA                              #REQUIRED >


<!--                    term                                       -->
<!ELEMENT  term         (#PCDATA)                                    >
<!ATTLIST  term
             id         ID                                 #IMPLIED
             linkend    IDREF                              #IMPLIED
             url        CDATA                              #IMPLIED  >

<!--                    definition                                 -->
<!ELEMENT  definition   (term, def)                                  >
<!ATTLIST  definition
             id         ID                                 #IMPLIED  >

<!--                    definition of a term                       -->
<!ELEMENT  def          (%text-elts;)*                               >

<!--                    abbreviation                               -->
<!ELEMENT  abbreviation (acronym, term)                              >
<!ATTLIST  abbreviation
             id         ID                                 #IMPLIED  >

<!--                    acronym                                    -->
<!ELEMENT  acronym      (#PCDATA)                                    >
