dtd/refs-and-defs.ent

<?xml version="1.0" encoding="UTF-8"?>
<!--
     $Id: refs-and-defs.ent,v 1.2 2001/10/05 08:01:34 robbod Exp $
                                                                   -->

<!--                    bibliographic elements                     -->
<!ENTITY % bib-elts    "
  #PCDATA
  | orgname
  | pubdate
  | stdnumber
  | subtitle
  | stdtitle
  | ulink
"                                                                    >

<!-- The normative references used in a module -->
<!ELEMENT normrefs (normref.inc*) >

<!--                    normative reference                        -->
<!ELEMENT  normref      (stdref, term*)                              >
<!ATTLIST  normref
             url        CDATA                              #IMPLIED
             id         ID                                 #REQUIRED
             default    (YES | NO)                         "NO"  
             docbook-atts
                        CDATA                  #FIXED "url #DEFAULT"
             docbook    NMTOKEN                 #FIXED "bibliomixed" >

<!-- normative reference inclusion -->
<!ELEMENT  normref.inc EMPTY>
<!ATTLIST  normref.inc ref NMTOKEN #REQUIRED>

<!-- A list of normative references that can be included in module.xml -->
<!ELEMENT normref.list (normref+) >


<!--                    standard reference                         -->
<!ELEMENT  stdref       (%bib-elts;)*                                >

<!--                    organization name                          -->
<!ELEMENT  orgname      (#PCDATA)                                    >
<!ATTLIST  orgname
             docbook    NMTOKEN                     #FIXED "orgname" >

<!--                    publication date                           -->
<!ELEMENT  pubdate      (#PCDATA)                                    >
<!ATTLIST  pubdate
             docbook    NMTOKEN                     #FIXED "pubdate" >

<!--                    release information                        -->
<!ELEMENT  stdnumber  (#PCDATA)                                      >
<!ATTLIST  stdnumber
             docbook    NMTOKEN                 #FIXED "stdnumber"   >

<!--                    subtitle                                   -->
<!ELEMENT  subtitle     (#PCDATA)                                    >
<!ATTLIST  subtitle
             docbook    NMTOKEN                    #FIXED "subtitle" >

<!--                    title of standard                          -->
<!ELEMENT  stdtitle     (#PCDATA)                                    >
<!ATTLIST  stdtitle
             docbook    NMTOKEN                       #FIXED "title" >

<!--                    link to URL                                -->
<!ELEMENT  ulink        (#PCDATA)                                    >
<!ATTLIST  ulink
             docbook    NMTOKEN                       #FIXED "ulink"
             url        CDATA                              #REQUIRED >


<!--                    term                                       -->
<!ELEMENT  term         (#PCDATA)                                    >
<!ATTLIST  term
             id         ID                                 #IMPLIED
             linkend    IDREF                              #IMPLIED
             url        CDATA                              #IMPLIED  >

<!--                    definition                                 -->
<!ELEMENT  definition   (term, def)                                  >
<!ATTLIST  definition
             id         ID                                 #IMPLIED  >

<!--                    definition of a term                       -->
<!ELEMENT  def          (%text-elts;)*                               >

<!--                    abbreviation                               -->
<!ELEMENT  abbreviation (acronym, term)                              >
<!ATTLIST  abbreviation
             id         ID                                 #IMPLIED  
             default    (YES | NO)                         "NO"  >

<!-- The abbreviations used in a module -->
<!ELEMENT abbreviations (abbreviation.inc | abbreviation)+ >

<!-- abbreviation inclusion -->
<!ELEMENT abbreviation.inc EMPTY>
<!ATTLIST abbreviation.inc ref NMTOKEN #REQUIRED>

<!-- A list of abbreviations that can be included in module.xml -->
<!ELEMENT abbreviation.list (default*, abbreviation+) >


<!--                    acronym                                    -->
<!ELEMENT  acronym      (#PCDATA)                                    >
