dtd/repository_index.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
     $Id: module.dtd,v 1.5 2001/10/05 08:01:34 robbod Exp $
                                                                   -->

<!-- List of modules and resource -->
<!ELEMENT  repository_index       (modules+, resources+)>


<!-- List of modules  -->
<!-- Note, there may be further attributes added at a later date -->
<!ELEMENT  modules       (module+)>


<!-- Module -->
<!ELEMENT  module EMPTY>
<!-- the name of the module -->
<!ATTLIST  module name NMTOKEN #REQUIRED>


<!-- List of resources  -->
<!-- Note, there may be further attributes added at a later date -->
<!ELEMENT  resources       (resource+)>

<!-- Resource -->
<!ELEMENT  resource EMPTY>
<!-- the name of the integrated resource schema -->
<!ATTLIST  resource name NMTOKEN #REQUIRED>

