dtd/repository_index.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
     $Id: repository_index.dtd,v 1.3 2002/07/11 16:32:00 robbod Exp $
                                                                   -->

<!-- List of modules and resource -->
<!ELEMENT  repository_index       (modules+, resources+)>


<!-- List of modules  -->
<!-- Note, there may be further attributes added at a later date -->
<!ELEMENT  modules       (module+)>


<!-- Module -->
<!ELEMENT  module EMPTY>
<!-- the name of the module -->
<!ATTLIST  module name NMTOKEN #REQUIRED>
<!-- the part number of the module -->
<!ATTLIST  module part CDATA #IMPLIED>
<!-- the project responsible for the module -->
<!ATTLIST  module project CDATA #IMPLIED>


<!-- List of resources  -->
<!-- Note, there may be further attributes added at a later date -->
<!ELEMENT  resources       (resource+)>

<!-- Resource -->
<!ELEMENT  resource EMPTY>
<!-- the name of the integrated resource schema -->
<!ATTLIST  resource name NMTOKEN #REQUIRED>

