dtd/text.ent

<?xml version="1.0" encoding="UTF-8"?>
<!--
     $Id: text.ent,v 1.10 2002/01/14 17:36:06 robbod Exp $
                                                                   -->
<!ENTITY % text-elts "
  #PCDATA
  | express_ref
  | module_ref
">

<!ENTITY % block-elts "
  p
  | ul
  | ol
  | dl
  | screen
  | b
  | i
">

<!ELEMENT description (%text-elts; | %block-elts; | note | example | figure)*>

<!ELEMENT note (%text-elts; | %block-elts;)*>
<!ATTLIST  note
             id         ID                                 #IMPLIED  
             number     CDATA                              #IMPLIED  >


<!ELEMENT example (%text-elts; | %block-elts;)*>
<!ATTLIST  example
             id         ID                                 #IMPLIED  
             number     CDATA                              #IMPLIED  >

<!ELEMENT figure (title, img)>
<!ATTLIST  figure
             id         ID                                 #IMPLIED  >

<!ELEMENT title (%text-elts;)*>

<!-- definition of an image that is to be displayed in a new browser window -->
<!ELEMENT imgfile EMPTY>
<!ATTLIST imgfile file CDATA #REQUIRED>

<!-- the root element of the file referenced by imgfile -->
<!ELEMENT imgfile.content (img)>
<!ATTLIST imgfile.content 
          module CDATA #REQUIRED
          title  CDATA #IMPLIED
>

<!-- definition of an image -->
<!ELEMENT img (img.area*)>
<!ATTLIST img
          src CDATA #REQUIRED
          alt CDATA #IMPLIED
>

<!-- an area of the image defined as clickable image map-->
<!ELEMENT img.area  EMPTY>
<!ATTLIST img.area
	shape CDATA #REQUIRED
	coords CDATA #REQUIRED
        href CDATA #REQUIRED
>

<!ELEMENT p (%text-elts;)*>

<!-- bold -->
<!ELEMENT b (%text-elts;)*>

<!-- italic -->   
<!ELEMENT i (%text-elts;)*>

<!-- subscript, superscript -->
<!ELEMENT sub (%text-elts;)*>
<!ELEMENT sup (%text-elts;)*>

<!-- unordered list -->
<!ELEMENT ul (li+)>

<!-- ordered list -->
<!ELEMENT ol (li+)>
<!ATTLIST ol
		type (1 | A | a | I | i) "1"
 		start CDATA #IMPLIED>

<!-- list item -->
<!ELEMENT li (%text-elts;)*>


<!-- Definition list - DT for term, DD for its defnition -->
<!ELEMENT dl (dt|dd) >

<!-- Definition term -->
<!ELEMENT dt (%text-elts;)*>

<!-- Defnition description  -->
<!ELEMENT dd (%text-elts;)*>


<!--                    text from computer display                 -->
<!ELEMENT  screen       (#PCDATA)                                    >
<!ATTLIST  screen
             xml-space  (default | preserve)              "preserve" >

<!--                    reference to EXPRESS name                  -->
<!ELEMENT  express_ref  (#PCDATA)                                    >
<!ATTLIST  express_ref
             linkend    CDATA                              #REQUIRED >

<!--                    module reference                           -->
<!ELEMENT  module_ref   (#PCDATA)                                    >
<!ATTLIST  module_ref
             linkend    CDATA                              #REQUIRED >

