dtd/text.ent

<?xml version="1.0" encoding="UTF-8"?>
<!--
     $Id: text.ent,v 1.1 2001/06/28 22:00:06 lubell Exp $
                                                                   -->
<!ENTITY % text-elts "
  #PCDATA
  | entity_ref
  | type_ref
  | constant_ref
  | function_ref
  | attribute_ref
  | parameter_ref
  | schema_ref
  | variable_ref
  | module_ref
">

<!ENTITY % block-elts "
  p
  | ul
  | ol
  | screen
">

<!ELEMENT description (%text-elts; | %block-elts; | note | example | figure)*>

<!ELEMENT note (%text-elts; | %block-elts;)*>

<!ELEMENT example (%text-elts; | %block-elts;)*>

<!ELEMENT figure (title, img)>

<!ELEMENT title (%text-elts;)*>

<!ELEMENT img EMPTY>
<!ATTLIST img
          src CDATA #REQUIRED
          alt CDATA #IMPLIED
>

<!ELEMENT p (%text-elts;)*>

<!ELEMENT ul (li+)>

<!ELEMENT ol (li+)>

<!ELEMENT li (%text-elts;)*>

<!--                    text from computer display                 -->
<!ELEMENT  screen       (#PCDATA)                                    >
<!ATTLIST  screen
             xml-space  (default | preserve)              "preserve" >

<!--                    module reference                           -->
<!ELEMENT  module_ref   (#PCDATA)                                    >
<!ATTLIST  module_ref
             url        CDATA                              #IMPLIED  >
