dtd/text.ent

<?xml version="1.0" encoding="UTF-8"?>
<!--
     $Id: text.ent,v 1.4 2001/10/05 08:01:34 robbod Exp $
                                                                   -->
<!ENTITY % text-elts "
  #PCDATA
  | express_ref
  | module_ref
  | note_ref
  | figure_ref
  | example_ref
">

<!ENTITY % block-elts "
  p
  | ul
  | ol
  | screen
">

<!ELEMENT description (%text-elts; | %block-elts; | note | example | figure)*>

<!ELEMENT note (%text-elts; | %block-elts;)*>
<!ATTLIST  note
             id         ID                                 #IMPLIED  >

<!--                    note reference                             -->
<!ELEMENT  note_ref     EMPTY                                        >
<!ATTLIST  note_ref
             linkend    CDATA                              #REQUIRED >


<!ELEMENT example (%text-elts; | %block-elts;)*>
<!ATTLIST  example
             id         ID                                 #IMPLIED  >

<!--                    example reference                          -->
<!ELEMENT  example_ref  EMPTY                                        >
<!ATTLIST  example_ref
             linkend    CDATA                              #REQUIRED >

<!ELEMENT figure (title, img)>
<!ATTLIST  figure
             id         ID                                 #IMPLIED  >

<!--                    figure reference                           -->
<!ELEMENT  figure_ref   EMPTY                                        >
<!ATTLIST  figure_ref
             linkend    CDATA                              #REQUIRED >

<!ELEMENT title (%text-elts;)*>

<!ELEMENT img EMPTY>
<!ATTLIST img
          src CDATA #REQUIRED
          alt CDATA #IMPLIED
>

<!ELEMENT p (%text-elts;)*>

<!ELEMENT ul (li+)>

<!ELEMENT ol (li+)>
<!ATTLIST ol
		type (1 | A | a | I | i) "1"
 		start CDATA #IMPLIED>

<!ELEMENT li (%text-elts;)*>

<!--                    text from computer display                 -->
<!ELEMENT  screen       (#PCDATA)                                    >
<!ATTLIST  screen
             xml-space  (default | preserve)              "preserve" >

<!--                    reference to EXPRESS name                  -->
<!ELEMENT  express_ref  (#PCDATA)                                    >

<!--                    module reference                           -->
<!ELEMENT  module_ref   (#PCDATA)                                    >

