dtd/text.ent

<?xml version="1.0" encoding="UTF-8"?>
<!--
     $Id: text.ent,v 1.5 2001/11/15 07:32:37 robbod Exp $
                                                                   -->
<!ENTITY % text-elts "
  #PCDATA
  | express_ref
  | module_ref
  | note_ref
  | figure_ref
  | example_ref
">

<!ENTITY % block-elts "
  p
  | ul
  | ol
  | screen
">

<!ELEMENT description (%text-elts; | %block-elts; | note | example | figure)*>

<!ELEMENT note (%text-elts; | %block-elts;)*>
<!ATTLIST  note
             id         ID                                 #IMPLIED  >

<!--                    note reference                             -->
<!ELEMENT  note_ref     EMPTY                                        >
<!ATTLIST  note_ref
             linkend    CDATA                              #REQUIRED >


<!ELEMENT example (%text-elts; | %block-elts;)*>
<!ATTLIST  example
             id         ID                                 #IMPLIED  >

<!--                    example reference                          -->
<!ELEMENT  example_ref  EMPTY                                        >
<!ATTLIST  example_ref
             linkend    CDATA                              #REQUIRED >

<!ELEMENT figure (title, img)>
<!ATTLIST  figure
             id         ID                                 #IMPLIED  >

<!--                    figure reference                           -->
<!ELEMENT  figure_ref   EMPTY                                        >
<!ATTLIST  figure_ref
             linkend    CDATA                              #REQUIRED >

<!ELEMENT title (%text-elts;)*>

<!-- definition of an image that is to be displayed in a new browser window -->
<!ELEMENT imgfile EMPTY>
<!ATTLIST imgfile file CDATA #REQUIRED>

<!-- the root element of the file referenced by imgfile -->
<!ELEMENT imgfile.content (img)>
<!ATTLIST imgfile.content 
          module CDATA #REQUIRED
          title  CDATA #IMPLIED
>

<!-- definition of an image -->
<!ELEMENT img (img.area*)>
<!ATTLIST img
          src CDATA #REQUIRED
          alt CDATA #IMPLIED
>

<!-- an area of the image defined as clickable image map-->
<!ELEMENT img.area  EMPTY>
<!ATTLIST img.area
	shape CDATA #REQUIRED
	coords CDATA #REQUIRED
        href CDATA #REQUIRED
>

<!ELEMENT p (%text-elts;)*>

<!ELEMENT ul (li+)>

<!ELEMENT ol (li+)>
<!ATTLIST ol
		type (1 | A | a | I | i) "1"
 		start CDATA #IMPLIED>

<!ELEMENT li (%text-elts;)*>

<!--                    text from computer display                 -->
<!ELEMENT  screen       (#PCDATA)                                    >
<!ATTLIST  screen
             xml-space  (default | preserve)              "preserve" >

<!--                    reference to EXPRESS name                  -->
<!ELEMENT  express_ref  (#PCDATA)                                    >
<!ATTLIST  express_ref
             linkend    CDATA                              #REQUIRED >

<!--                    module reference                           -->
<!ELEMENT  module_ref   (#PCDATA)                                    >
<!ATTLIST  module_ref
             linkend    CDATA                              #REQUIRED >

